<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        {{'DEMO.RADIO.DESCRIPTION' | translate}}
      </p>
      <hr>
      <h3 class="free-head-title">{{'API-OPTION' | translate}}<span class="symbol component"></span></h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-radio</h3>
        <p>{{'COMPONENT.RADIO' | translate}}</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head><ng-template>{{'PROPERTY' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'TYPE' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'DESCRIPTION' | translate}}</ng-template></free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>label</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RADIO.OPTION.0' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>name</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RADIO.OPTION.1' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>checked</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RADIO.OPTION.2' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>disabled</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RADIO.OPTION.3' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>theme</free-table-cell>
              <free-table-cell>
                <ng-template><code>theme</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>
                  {{'DEMO.RADIO.OPTION.4' | translate}}(primary/info/success/warning/danger)
                </ng-template>
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">Import</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="CODE">
            <free-code lang="typescript">
              import &#123;RadioModule&#125; from 'freeng/freeng';
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-radio label="man" name="sex" [checked]="true"></free-radio>
            <free-radio label="woman" name="sex"></free-radio>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-radio label="man" name="sex" [checked]="true"&gt;&lt;/free-radio&gt;
              &lt;free-radio label="woman" name="sex"&gt;&lt;/free-radio&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Theme</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-radio theme="primary" label="primary" name="theme" [checked]="true"></free-radio>
            <free-radio theme="info" label="Theme: info" name="theme"></free-radio>
            <free-radio theme="success" label="success" name="theme"></free-radio>
            <free-radio theme="warning" label="warning" name="theme"></free-radio>
            <free-radio theme="danger" label="Theme: red" name="theme"></free-radio>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-radio theme="primary" label="primary" name="theme" [checked]="true"&gt;&lt;/free-radio&gt;
              &lt;free-radio theme="info" label="info" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio theme="success" label="success" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio theme="warning" label="warning" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio theme="danger" label="danger" name="theme"&gt;&lt;/free-radio&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Disabled</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-radio label="disabled" [disabled]="true"></free-radio>
            <free-radio label="disabled" [disabled]="true" [checked]="true"></free-radio>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-radio label="disabled" [disabled]="true"&gt;&lt;/free-radio&gt;
              &lt;free-radio label="disabled" [disabled]="true" [checked]="true"&gt;&lt;/free-radio&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
  <blockquote>FreeNG - {{'MOTTO' | translate}}</blockquote>
</div>
