<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        单选按钮允许用户从一组中选择一个选项
      </p>
      <hr>
      <h3 class="free-head-title">API 选项<span class="symbol component"></span></h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-radio</h3>
        <p>一个Radio组件</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>label</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>自定义文本，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>name</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>设置单选框的名称，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>checked</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否默认选中，默认为false，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>disabled</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否禁用，默认为false，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>theme</free-table-cell>
              <free-table-cell>
                <ng-template><code>theme</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                设置预设样式，可选。可选值(primary/info/success/warning/danger)
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">Import</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="CODE">
            <free-code lang="typescript">
              import &#123;RadioModule&#125; from 'freeng/freeng';
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-radio label="男" name="sex" [checked]="true"></free-radio>
            <free-radio label="女" name="sex"></free-radio>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-radio label="男" name="sex" [checked]="true"&gt;&lt;/free-radio&gt;
              &lt;free-radio label="女" name="sex"&gt;&lt;/free-radio&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Theme</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-radio theme="primary" label="primary" name="theme" [checked]="true"></free-radio>
            <free-radio theme="info" label="Theme: info" name="theme"></free-radio>
            <free-radio theme="success" label="success" name="theme"></free-radio>
            <free-radio theme="warning" label="warning" name="theme"></free-radio>
            <free-radio theme="danger" label="Theme: red" name="theme"></free-radio>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-radio theme="primary" label="primary" name="theme" [checked]="true"&gt;&lt;/free-radio&gt;
              &lt;free-radio theme="info" label="info" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio theme="success" label="success" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio theme="warning" label="warning" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio theme="danger" label="danger" name="theme"&gt;&lt;/free-radio&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Disabled</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-radio label="disabled" [disabled]="true"></free-radio>
            <free-radio label="disabled" [disabled]="true" [checked]="true"></free-radio>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-radio label="disabled" [disabled]="true"&gt;&lt;/free-radio&gt;
              &lt;free-radio label="disabled" [disabled]="true" [checked]="true"&gt;&lt;/free-radio&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
  <blockquote>FreeNG - 用心做好每一步</blockquote>
</div>
