<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        拨动开关用作切换单个设置选项的状态。
      </p>
      <ul class="free-ul-padding">
        <li>支持三种风格</li>
        <li>多种可选的样式</li>
      </ul>
      <hr>
      <h3 class="free-head-title">API 选项</h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-switch</h3>
        <p>单个Switch开关</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>label</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>自定义文本，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>color</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>主题样式</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>type</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>主题类型</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>checked</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否默认选中，默认false</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>disabled</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否禁用，默认为false</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>onChange</free-table-cell>
              <free-table-cell>
                <ng-template><code>Function</code></ng-template>
              </free-table-cell>
              <free-table-cell>change监听事件</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-switch label="Switch"></free-switch>
            <free-switch label="Switch" type="2" [checked]="true"></free-switch>
            <free-switch label="Switch" type="3"></free-switch>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-switch label="Switch"&gt;&lt;/free-switch&gt;
              &lt;free-switch label="Switch" type="2" [checked]="true"&gt;&lt;/free-switch&gt;
              &lt;free-switch label="Switch" type="3"&gt;&lt;/free-switch&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Disabled</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-switch label="Switch" [disabled]="true"></free-switch>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-switch label="Switch" [disabled]="true"&gt;&lt;/free-switch&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Theme</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-switch label="Switch"></free-switch>
            <free-switch label="Switch" color="blue"></free-switch>
            <free-switch label="Switch" color="lightblue"></free-switch>
            <free-switch label="Switch" color="yellow"></free-switch>
            <free-switch label="Switch" color="red"></free-switch>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-switch label="Switch"&gt;&lt;/free-switch&gt;
              &lt;free-switch label="Switch" color="blue"&gt;&lt;/free-switch&gt;
              &lt;free-switch label="Switch" color="lightblue"&gt;&lt;/free-switch&gt;
              &lt;free-switch label="Switch" color="yellow"&gt;&lt;/free-switch&gt;
              &lt;free-switch label="Switch" color="red"&gt;&lt;/free-switch&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Change Event</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-switch label="Switch" (onChange)="onChange($event)"></free-switch>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-switch label="Switch" (onChange)="onChange($event)"&gt;&lt;/free-switch&gt;
            </free-code>

            <free-code lang="javascript">
              onChange(event: any) {{ "{" }}
                console.log(event.target.checked);
              {{ "}" }}
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
</div>
