@import "../../../assets/sass/variables";

:root {
  display: inline-flex;
}

.free-checkbox,
.free-checkbox-inner,
.free-checkbox-ins {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.free-checkbox-title {
  max-width: 10rem;
  white-space: nowrap;
}

.free-sr-only .free-checkbox-title {
  display: none;
}

.free-checkbox-inner input {
  -webkit-appearance: none;
  opacity: 0;
}

.free-checkbox-ins {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  background: rgba(0,0,0,0.26);
}

.free-checkbox-ins:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
}

.free-checkbox-ins {
  &:before,
  &:after {
    transform: scale(0);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
  }
}

.free-checkbox-ins::after {
  content: "";
  width: 6px;
  height: 13px;
  position: absolute;
  top: 1px;
  left: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  opacity: 0;
  transform: rotate(45deg) scale3D(.15,.15,1);;
}

.free-checkbox-inner>input:checked+.free-checkbox-ins::after {
  opacity: 1;
  transform: rotate(45deg) scale3D(1,1,1);;
}

.free-checkbox-inner>input:checked+.free-checkbox-ins:before {
  background: $theme-green;
  transform: scale(1);
}

.free-checkbox-inner>input:disabled+.free-checkbox-ins {
  opacity: .8;
}

.free-checkbox-inner>input:disabled+.free-checkbox-ins:before {
  background: transparent !important;
}

.free-checkbox-inner {
  padding-right: .3rem;
}

@each $theme, $color in $theme {
  .free-checkbox.free-#{$theme} {
    .free-checkbox-inner>input:checked+.free-checkbox-ins:before {
      background: $color;
    }
  }
}
