<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        {{'DEMO.RANGE.DESCRIPTION' | translate}}
      </p>
      <h3 class="free-head-title">{{'API-OPTION' | translate}}<span class="symbol component"></span></h3>
      <div class="free-demo-row">
        <h3 class="free-title">free-range</h3>
        <p>{{'COMPONENT.RANGE' | translate}}</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head><ng-template>{{'PROPERTY' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'TYPE' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'DESCRIPTION' | translate}}</ng-template></free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>value</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RANGE.OPTION.0' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>min</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RANGE.OPTION.1' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>max</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RANGE.OPTION.2' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
            <free-table-cell>theme</free-table-cell>
            <free-table-cell>
              <ng-template><code>String</code></ng-template>
            </free-table-cell>
            <free-table-cell>
              <ng-template>
                {{'DEMO.RANGE.OPTION.3' | translate}}(primary/info/success/warning/danger)
              </ng-template>
            </free-table-cell>
          </free-table-row>
            <free-table-row>
              <free-table-cell>handleSize</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RANGE.OPTION.4' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>Vertical</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RANGE.OPTION.5' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>rangeHeight</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RANGE.OPTION.6' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>rangeWidth</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.RANGE.OPTION.7' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div fGrid="6" class="free-demo-board">
      <div class="free-card-board">
        <h3 class="free-toolbar">Import</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="CODE">
            <free-code lang="typescript">
              import &#123;RangeModule&#125; from 'freeng/freeng';
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-range></free-range>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-range&gt;&lt;/free-range&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Min and Max</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-range [min]="10"></free-range>
            <free-range [min]="-5" [max]="80"></free-range>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-range [min]="10"&gt;&lt;/free-range&gt;
              &lt;free-range [min]="-5" [max]="80"&gt;&lt;/free-range&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">HandleSize</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-range [handleSize]="0.5"></free-range>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-range [handleSize]="0.5"&gt;&lt;/free-range&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Vertical</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-range [vertical]="true"></free-range>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-range [vertical]="true"&gt;&lt;/free-range&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Theme</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-range [value]="20" theme="primary"></free-range>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-range [value]="20" theme="primary"&gt;&lt;/free-range&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

    </div>

  </div>
  <blockquote>FreeNG - {{'MOTTO' | translate}}</blockquote>
</div>
