@import "../../../assets/sass/mixin";

.free-card {
  position: relative;
  @include flexbox;
  background-color: #fff;
  @include boxShadow;
  @include borderRadius;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  z-index: 20;
  -webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all .4s cubic-bezier(.25,.8,.25,1);
  transition: all .4s cubic-bezier(.25,.8,.25,1);

  &.free-card-horizontal {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
  }

  &.free-card-hover:hover {
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  }

  .free-card-media img {
    width: 100%;
    line-height: 0;
    display: block;
  }

  free-card-header-text {
    -ms-flex: 1;
    flex: 1;
  }

  .free-card-title {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 2rem;
  }

  .free-card-text {
    opacity: .54;
    font-size: 14px;
    letter-spacing: .01em;
    line-height: 20px;
  }

  .free-card-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    line-height: 22px;
  }

  free-card-content+free-card-footer .free-card-footer {
    padding-top: 0;
  }

  free-card-footer {
    order: 6;
  }

  .free-card-header, .free-card-footer {
    min-height: 2.2rem;
    position: relative;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .free-card-footer {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  free-card-header+free-card-content .free-card-content {
    padding-top: 0;
  }

  .free-card-footer .btn {
    box-shadow: none;
  }
}
