@import "../../../assets/sass/mixin";

:host /deep/ {
  .free-pagination {
    display: inline-block;
  }

  .free-pagination>ul {
    @include flexbox;
  }

  .free-pagination-item {
    margin: 0 2px;
    position: relative;
    vertical-align: top;
  }

  .free-pagination-item a {
    @include flexbox;
    border-radius: 50% !important;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    z-index: 1;
    border: 0;
    position: relative;
    text-decoration: none;
    color: #7e7e7e;
    background-color: #e2e2e2;
    margin-left: -1px;
  }
}
