<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        {{'DEMO.SELECT.DESCRIPTION' | translate}}
      </p>
      <hr>
      <h3 class="free-head-title">{{'API-OPTION' | translate}}<span class="symbol component"></span></h3>
      <div class="free-demo-row">
        <h3 class="free-title">free-select</h3>
        <p>{{'COMPONENT.SELECT' | translate}}</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head><ng-template>{{'PROPERTY' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'TYPE' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'DESCRIPTION' | translate}}</ng-template></free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>options</free-table-cell>
              <free-table-cell>
                <ng-template><code>Array</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.SELECT.OPTION.0' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>pholder</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.SELECT.OPTION.1' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>ngModel</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.SELECT.OPTION.2' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>multiple</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.SELECT.OPTION.3' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>filter</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.SELECT.OPTION.4' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
        <h3>{{'EVENT' | translate}}</h3>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head><ng-template>{{'EVENT' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'TYPE' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'DESCRIPTION' | translate}}</ng-template></free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>onChange</free-table-cell>
              <free-table-cell>
                <ng-template><code>Function</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.SELECT.EVENTS.0' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div fGrid="6" class="free-demo-board">
      <div class="free-demo-board">
        <div class="free-card-board">
          <h3 class="free-toolbar">Import</h3>
          <free-tab-group direction="right" theme="line">
            <free-tab header="CODE">
              <free-code lang="typescript">
                import &#123;SelectModule&#125; from 'freeng/freeng';
              </free-code>
            </free-tab>
          </free-tab-group>
        </div>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <div style="height:300px">
              <free-select [(ngModel)]="selectedOption" (onChange)="onChange($event)"
                           [options]="options" pholder="select"></free-select>
            </div>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-select [(ngModel)]="selectedOption" (onChange)="onChange($event)"
                           [options]="options" pholder="select"&gt;&lt;/free-select&gt;
            </free-code>
            <h4>Javascript</h4>
            <free-code lang="typescript">
              this.options = [
                &#123; label: 'guangdong', value: 'gd'&#125;,
                &#123; label: 'beijing', value: 'bj'&#125;,
                &#123; label: 'shanghai', value: 'sh'&#125;,
                &#123; label: 'nanjing', value: 'nj'&#125;,
                &#123; label: 'yunnan', value: 'yn'&#125;
              ];
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">NgModel</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <div style="height:250px">
              <free-select [(ngModel)]="selectedFruit" (onChange)="onChange($event)"
                           [options]="fruit" pholder="select"></free-select>
            </div>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-select [(ngModel)]="selectedFruit" (onChange)="onChange($event)"
              [options]="fruit" pholder="select"&gt;&lt;/free-select&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Filter</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <div style="height:300px">
              <free-select [(ngModel)]="filterSelected" (onChange)="onChange($event)"
                           [options]="options" pholder="select" [filter]="true"></free-select>
            </div>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-select [(ngModel)]="selectedOption" (onChange)="onChange($event)"
              [options]="options" pholder="select"&gt;&lt;/free-select&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Multiple</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <div style="height:300px">
              <free-select [(ngModel)]="multipleSelectd" (onChange)="onChange($event)" [multiple]="true"
                           [options]="options" pholder="select" [filter]="true"></free-select>
            </div>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-select [(ngModel)]="selectedOption" (onChange)="onChange($event)" [multiple]="true"
              [options]="options" pholder="select"&gt;&lt;/free-select&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

    </div>
  </div>
  <blockquote>FreeNG - {{'MOTTO' | translate}}</blockquote>
</div>
