@import "../../../assets/sass/variables";
@import "../../../assets/sass/mixin";

.range-slider {
  display: inline-block;
  width:150px;
  height: 42px;
  position: relative;
  cursor: pointer;
}

.range-slider .range-slider-tooltip {
  font-size: 18px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 5px 10px;
  text-align: center;
  opacity: .8;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  text-shadow: 0 1px 0 #f3f3f3;
  display: none;
  transform: translate3d(0, -100%, 0);
}

.range-bar {
  position: absolute;
  top: 21px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #bdbdbd;
  pointer-events: none;
}
.range-bar-active {
  bottom: 0;
  width: auto;
  background: $default;
}

.range-knob-handle {
  position: absolute;
  top: 21px;
  left: 0%;
  margin-top: -21px;
  margin-left: -21px;
  width: 42px;
  height: 42px;
  text-align: center;
}

.range-knob {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  @include boxShadow;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: all .25s;
  }

  &:active:before {
    background: rgba(0,0,0,.1);
  }
}

@each $theme, $color in $theme {
  .range-slider.free-#{$theme} .range-bar-active{
    background: $color;
  }
}
