<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        良好的排版布局决定页面的美观。
      </p>
      <ul class="free-ul-padding">
        <li>标题</li>
        <li>被删除的文本</li>
        <li>无用文本</li>
        <li>插入文本</li>
        <li>带下划线的文本</li>
        <li>小号文本</li>
        <li>着重</li>
        <li>斜体</li>
        <li>对齐方式</li>
        <li>改变大小写</li>
        <li>首字下沉</li>
        <li>引用</li>
      </ul>
      <hr>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">标题</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <h1>h1.  heading</h1>
            <h2>h2.  heading</h2>
            <h3>h3.  heading</h3>
            <h4>h4.  heading</h4>
            <h5>h5.  heading</h5>
            <h6>h6.  heading</h6>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;h1&gt;h1.  heading&lt;/h1&gt;
              &lt;h2&gt;h2.  heading&lt;/h2&gt;
              &lt;h3&gt;h3.  heading&lt;/h3&gt;
              &lt;h4&gt;h4.  heading&lt;/h4&gt;
              &lt;h5&gt;h5.  heading&lt;/h5&gt;
              &lt;h6&gt;h6.  heading&lt;/h6&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">被删除的文本</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <del>被删除的文本</del>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;del&gt;被删除的文本&lt;/del&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">无用文本</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <s>无用文本</s>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;s&gt;无用文本&lt;/s&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">插入文本</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <ins>插入文本</ins>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;ins&gt;插入文本&lt;/ins&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">带下划线的文本</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <u>带下划线的文本</u>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;u&gt;带下划线的文本&lt;/u&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">小号文本</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <small>小号文本</small>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;small&gt;小号文本&lt;/small&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">着重</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <strong>着重</strong>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;strong&gt;着重&lt;/small&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">斜体</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <em>斜体</em>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;em&gt;斜体&lt;/small&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">对齐方式</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <p class="text-left">左对齐</p>
            <p class="text-center">居中</p>
            <p class="text-right">右对齐</p>
            <p class="text-justify">两端对齐</p>
            <p class="text-nowrap">不换行文本</p>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;p class="text-left"&gt;左对齐&lt;/p&gt;
              &lt;p class="text-center"&gt;居中&lt;/p&gt;
              &lt;p class="text-right"&gt;右对齐&lt;/p&gt;
              &lt;p class="text-justify"&gt;两端对齐&lt;/p&gt;
              &lt;p class="text-nowrap"&gt;不换行文本&lt;/p&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">改变大小写</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <p class="text-lowercase">Lowercased text.</p>
            <p class="text-uppercase">Uppercased text.</p>
            <p class="text-capitalize">Capitalized text.</p>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;p class="text-lowercase"&gt;Lowercased text.&lt;/p&gt;
              &lt;p class="text-uppercase"&gt;Uppercased text.&lt;/p&gt;
              &lt;p class="text-capitalize"&gt;Capitalized text.&lt;/p&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">缩略语</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <abbr title="attribute">attr</abbr>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;abbr title="attribute"&gt;attr&lt;/abbr&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">引用</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <div class="blockquote-box">
              <blockquote>这是一条引用</blockquote>
              <blockquote>
                这是一条引用
                <footer>--TG</footer>
              </blockquote>
            </div>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;blockquote&gt;这是一条引用&lt;/blockquote&gt;
              &lt;blockquote&gt;
                这是一条引用
                &lt;footer&gt;--TG&lt;/footer&gt;
              &lt;/blockquote&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
</div>
