<div class="main-container">
  <div class="row">

    <div class="free-demo-board" fGrid="12">
      <p>
        点击水波纹效果<span class="symbol directive"></span>
      </p>
      <hr>
    </div>

    <div class="free-demo-board">
      <div class="free-card-board">
        <h3 class="free-toolbar">Import</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="CODE">
            <free-code lang="typescript">
              import &#123;RippleModule&#125; from 'freeng/freeng';
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>

    <div class="free-demo-board row" fGrid="12">
      <div fGrid="6">
        <div class="free-card-board">
          <h3 class="free-toolbar">图片</h3>
          <free-tab-group direction="right" theme="line">
            <free-tab header="PREVIEW">
              <div class="ripple-image" fRipple>
                <img src="assets/images/user.jpg">
              </div>
            </free-tab>
            <free-tab header="CODE">
              <free-code lang="html">
                &lt;div class="ripple-image" fRipple&gt;
                  &lt;img src="assets/images/user.jpg"&gt;
                &lt;/div&gt;
              </free-code>
            </free-tab>
          </free-tab-group>
        </div>
      </div>
      <div fGrid="6">
        <div class="free-card-board">
          <h3 class="free-toolbar">文字</h3>
          <free-tab-group direction="right" theme="line">
            <free-tab header="PREVIEW">
              <div class="ripple-image" fRipple="rgba(0,0,0,.5)">
                水波纹效果
              </div>
              <div class="ripple-image" fRipple="red">
                水波纹效果
              </div>
            </free-tab>
            <free-tab header="CODE">
              <free-code lang="html">
                &lt;div class="ripple-image" fRipple="rgba(0,0,0,.5)"&gt;
                水波纹效果
                &lt;/div&gt;
                &lt;div class="ripple-image" fRipple="red"&gt;
                水波纹效果
                &lt;/div&gt;
              </free-code>
            </free-tab>
          </free-tab-group>
        </div>
      </div>
    </div>
  </div>
  <blockquote>FreeNG - 用心做好每一步</blockquote>
</div>
