<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        {{'DEMO.TABLE.DESCRIPTION' | translate}}
      </p>
      <hr>
      <h3 class="free-head-title">{{'API-OPTION' | translate}}<span class="symbol component"></span></h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-table</h3>
        <p>{{'DEMO.TABLE.INTRO.0' | translate}}</p>
      </div>

      <div class="free-demo-row">
        <h3 class="free-title">free-table-header</h3>
        <p>{{'DEMO.TABLE.INTRO.1' | translate}}</p>
      </div>

      <div class="free-demo-row">
        <h3 class="free-title">free-table-body</h3>
        <p>{{'DEMO.TABLE.INTRO.2' | translate}}</p>
      </div>

      <div class="free-demo-row">
        <h3 class="free-title">free-table-row</h3>
        <p>{{'DEMO.TABLE.INTRO.3' | translate}}</p>
      </div>

      <div class="free-demo-row">
        <h3 class="free-title">free-table-cell</h3>
        <p>{{'DEMO.TABLE.INTRO.4' | translate}}</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head><ng-template>{{'PROPERTY' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'TYPE' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'DESCRIPTION' | translate}}</ng-template></free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>colspan</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.TABLE.OPTION.0' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>rowspan</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.TABLE.OPTION.1' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div fGrid="6" class="free-demo-board">
      <div class="free-demo-board">
        <div class="free-card-board">
          <h3 class="free-toolbar">Import</h3>
          <free-tab-group direction="right" theme="line">
            <free-tab header="CODE">
              <free-code lang="typescript">
                import &#123;TableModule&#125; from 'freeng/freeng';
              </free-code>
            </free-tab>
          </free-tab-group>
        </div>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-table>
              <free-table-header>
                <free-table-row>
                  <free-table-head>Dessert (100g serving)</free-table-head>
                  <free-table-head>Calories (g)</free-table-head>
                </free-table-row>
              </free-table-header>

              <free-table-body>
                <free-table-row *ngFor="let cell of cells">
                  <free-table-cell>{{cell.pro}}</free-table-cell>
                  <free-table-cell>{{cell.intro}}</free-table-cell>
                </free-table-row>
              </free-table-body>
            </free-table>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-table&gt;
                &lt;free-table-header&gt;
                  &lt;free-table-row&gt;
                    &lt;free-table-head&gt;Dessert (100g serving)&lt;/free-table-head&gt;
                    &lt;free-table-head&gt;Calories (g)&lt;/free-table-head&gt;
                  &lt;/free-table-row&gt;
                &lt;/free-table-header&gt;

                &lt;free-table-body&gt;
                  &lt;free-table-row *ngFor="let cell of cells"&gt;
                    &lt;free-table-cell&gt;{{'cell.pro'}}&lt;/free-table-cell&gt;
                    &lt;free-table-cell&gt;{{'cell.intro'}}&lt;/free-table-cell&gt;
                  &lt;/free-table-row&gt;
                &lt;/free-table-body&gt;
              &lt;/free-table&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Border</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-table [border]="true">
              <free-table-header>
                <free-table-row>
                  <free-table-head>Dessert (100g serving)</free-table-head>
                  <free-table-head>Calories (g)</free-table-head>
                </free-table-row>
              </free-table-header>

              <free-table-body>
                <free-table-row *ngFor="let cell of cells">
                  <free-table-cell>{{cell.pro}}</free-table-cell>
                  <free-table-cell>{{cell.intro}}</free-table-cell>
                </free-table-row>
              </free-table-body>
            </free-table>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-table [border]="true"&gt;
              &lt;free-table-header&gt;
              &lt;free-table-row&gt;
              &lt;free-table-head&gt;Dessert (100g serving)&lt;/free-table-head&gt;
              &lt;free-table-head&gt;Calories (g)&lt;/free-table-head&gt;
              &lt;/free-table-row&gt;
              &lt;/free-table-header&gt;

              &lt;free-table-body&gt;
              &lt;free-table-row *ngFor="let cell of cells"&gt;
              &lt;free-table-cell&gt;{{'cell.pro'}}&lt;/free-table-cell&gt;
              &lt;free-table-cell&gt;{{'cell.intro'}}&lt;/free-table-cell&gt;
              &lt;/free-table-row&gt;
              &lt;/free-table-body&gt;
              &lt;/free-table&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Striped</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-table [striped]="true">
              <free-table-header>
                <free-table-row>
                  <free-table-head>Dessert (100g serving)</free-table-head>
                  <free-table-head>Calories (g)</free-table-head>
                </free-table-row>
              </free-table-header>

              <free-table-body>
                <free-table-row *ngFor="let cell of cells">
                  <free-table-cell>{{cell.pro}}</free-table-cell>
                  <free-table-cell>{{cell.intro}}</free-table-cell>
                </free-table-row>
              </free-table-body>
            </free-table>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-table [striped]="true"&gt;
              &lt;free-table-header&gt;
              &lt;free-table-row&gt;
              &lt;free-table-head&gt;Dessert (100g serving)&lt;/free-table-head&gt;
              &lt;free-table-head&gt;Calories (g)&lt;/free-table-head&gt;
              &lt;/free-table-row&gt;
              &lt;/free-table-header&gt;

              &lt;free-table-body&gt;
              &lt;free-table-row *ngFor="let cell of cells"&gt;
              &lt;free-table-cell&gt;{{'cell.pro'}}&lt;/free-table-cell&gt;
              &lt;free-table-cell&gt;{{'cell.intro'}}&lt;/free-table-cell&gt;
              &lt;/free-table-row&gt;
              &lt;/free-table-body&gt;
              &lt;/free-table&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Hover</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-table [hover]="true">
              <free-table-header>
                <free-table-row>
                  <free-table-head>Dessert (100g serving)</free-table-head>
                  <free-table-head>Calories (g)</free-table-head>
                </free-table-row>
              </free-table-header>

              <free-table-body>
                <free-table-row *ngFor="let cell of cells">
                  <free-table-cell>{{cell.pro}}</free-table-cell>
                  <free-table-cell>{{cell.intro}}</free-table-cell>
                </free-table-row>
              </free-table-body>
            </free-table>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-table [hover]="true"&gt;
              &lt;free-table-header&gt;
              &lt;free-table-row&gt;
              &lt;free-table-head&gt;Dessert (100g serving)&lt;/free-table-head&gt;
              &lt;free-table-head&gt;Calories (g)&lt;/free-table-head&gt;
              &lt;/free-table-row&gt;
              &lt;/free-table-header&gt;

              &lt;free-table-body&gt;
              &lt;free-table-row *ngFor="let cell of cells"&gt;
              &lt;free-table-cell&gt;{{'cell.pro'}}&lt;/free-table-cell&gt;
              &lt;free-table-cell&gt;{{'cell.intro'}}&lt;/free-table-cell&gt;
              &lt;/free-table-row&gt;
              &lt;/free-table-body&gt;
              &lt;/free-table&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

    </div>

  </div>
  <blockquote>FreeNG - {{'MOTTO' | translate}}</blockquote>
</div>
