.free-cascader {
  position: relative;
  display: inline-block;
  min-width: 7.5rem;
  max-width: 10rem;
  height: 1.75rem;
  padding-left: .5rem;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  transition: all .25s; }
  .free-cascader:hover {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .free-cascader.free-cascader-deploy {
    max-width: 40rem; }
  .free-cascader .free-cascader-menu-active .free-cascader-input i {
    transform: translate(0, -50%) rotate(180deg); }
  .free-cascader .free-item-expand .free-cascader-item-content {
    position: relative; }
    .free-cascader .free-item-expand .free-cascader-item-content span {
      margin-right: .4rem; }
    .free-cascader .free-item-expand .free-cascader-item-content:before {
      font-family: FontAwesome;
      content: "\f105";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%); }
  .free-cascader .free-cascader-input {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer; }
    .free-cascader .free-cascader-input label {
      display: flex;
      flex: 1 0 auto;
      align-items: center;
      position: relative;
      height: 100%;
      outline: none;
      border: none;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: transparent;
      margin-right: 1.25rem; }
    .free-cascader .free-cascader-input i {
      position: absolute;
      right: 0;
      top: 50%;
      display: inline-block;
      padding: 0 .5rem;
      line-height: 0;
      transition: all .25s;
      transform: translate(0, -50%) rotate(0); }
  .free-cascader .free-cascader-menus {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    z-index: 999; }
    .free-cascader .free-cascader-menus .free-cascader-wrapper {
      background: #fff;
      white-space: nowrap;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }
      .free-cascader .free-cascader-menus .free-cascader-wrapper free-cascader-menu {
        display: inline-block;
        vertical-align: top;
        min-width: 6rem;
        min-height: 100%;
        border-right: 1px solid #e9e9e9; }
        .free-cascader .free-cascader-menus .free-cascader-wrapper free-cascader-menu:last-child {
          border-right-color: transparent; }
    .free-cascader .free-cascader-menus .free-cascader-menu {
      max-height: 10rem;
      overflow: hidden;
      overflow-y: auto; }
      .free-cascader .free-cascader-menus .free-cascader-menu li {
        display: block;
        padding: .1rem .5rem;
        font-size: .65rem; }
        .free-cascader .free-cascader-menus .free-cascader-menu li:hover {
          background: #eee;
          font-weight: 700; }
  .free-cascader .free-cascader-item {
    list-style: none;
    cursor: pointer; }
    .free-cascader .free-cascader-item.free-select-active {
      background: #eee;
      font-weight: 700; }
  .free-cascader .free-cascader-item-content {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center; }
    .free-cascader .free-cascader-item-content span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.free-iscroll::-webkit-scrollbar {
  height: 6px;
  width: 6px; }
.free-iscroll::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #333; }
.free-iscroll::-webkit-scrollbar-corner, .free-iscroll::-webkit-scrollbar-track {
  background-color: #ccc; }

/*# sourceMappingURL=cascader.component.css.map */
