@import "../../../assets/sass/mixin";

.free-list {
  @include flexbox;
  width: 100%;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  color: rgba(0, 0, 0, .87);

  &.free-list-hover .free-list-item {
    cursor: pointer;
  }

  &.free-list-hover .free-list-item:hover {
    background: #eee;
  }

  &.free-list-line .free-list-item:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #d9d9d9;
  }
}

.free-list-item {
  @include flexbox;
  margin: 0;
  padding: .3rem .5rem;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
  text-align: left;
  text-transform: none;
  -webkit-transition: all .3s;
  transition: all .3s;

  > free-avatar {
    align-self: flex-start;
  }

  .free-avatar {
    width: 1.6rem;
    min-width: 1.6rem;
    height: 1.6rem;
    min-height: 1.6rem;
    margin: 0 1rem 0 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;

    &.free-avatar-circle,
    &.free-avatar-circle img {
      border-radius: 50%;
    }

    img {
       width: 100%;
     }

    &.free-avatar-large {
      width: 2rem;
      height: 2rem;
    }
  }

  .free-list-content {
    @include flexbox;
    flex-flow: column nowrap;
    flex: 1;
    overflow: hidden;
    line-height: 1.25em;
    white-space: normal;
  }

  .free-list-content>* {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .free-list-content>:nth-child(3) {
    margin: 0;
    color: rgba(0,0,0,.54);
    font-size: 14px;
  }

  .free-icon {
    margin-right: 1.2rem;
    color: rgba(0,0,0,.54);
  }

  .btn {
    width: 40px;
    min-width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
    background: transparent;
    border: none;
    box-shadow: none;
    margin-right: -.6rem;

    .free-icon {
      margin-right: 0;
    }
  }

  .free-image {
    display: flex;
    max-height: 100%;

    img {
      align-items: center;
    }
  }
}
