<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        上下文菜单(ContextMenu)在其目标上右击时，会显示一个重叠菜单。
      </p>
      <hr>
      <h3 class="free-head-title">API 选项</h3>
      <div class="free-demo-row">
        <h3 class="free-title">free-contextmenu</h3>
        <p>上下文菜单</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>target</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>需要上下文菜单的目标(一般使用模板变量)</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>menu</free-table-cell>
              <free-table-cell>
                <ng-template><code>Array</code></ng-template>
              </free-table-cell>
              <free-table-cell>一个菜单数组</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>global</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>设置document的上下文菜单，默认为false</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>back</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否点击返回上一个路由页面，默认为false</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div fGrid="6" class="free-demo-board">
      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <button fButton #cm>上下文菜单</button>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-chip-group [chips]="animals"&gt;&lt;/free-chip-group&gt;
            </free-code>
            <h4>Javascript</h4>
            <free-code lang="javascript">
              this.animals = [
              {{'{'}}'value': 'dog'{{'}'}},
              {{'{'}}'value': 'cat'{{'}'}},
              {{'{'}}'value': 'wolf'{{'}'}},
              {{'{'}}'value': 'fish'{{'}'}}
              ];
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>

  </div>
</div>

<free-contextmenu [target]="cm" [menu]="menu"></free-contextmenu>

<free-contextmenu [global]="true" [menu]="globalMenu"></free-contextmenu>
