<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        {{'DEMO.LOADING.DESCRIPTION' | translate}}
      </p>
      <hr>
      <h3 class="free-head-title">{{'API-OPTION' | translate}}<span class="symbol component"></span></h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-loading</h3>
        <p>Loading</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head><ng-template>{{'PROPERTY' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'TYPE' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'DESCRIPTION' | translate}}</ng-template></free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>theme</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>
                  {{'DEMO.LOADING.OPTION.0' | translate}}(primary/info/success/warning/danger)
                </ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>type</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>
                  {{'DEMO.LOADING.OPTION.1' | translate}}(circleLine、circleLineSpin、circleRoundFade、
                  lineSquare、lineRound、lineBounce、circleSpin)
                </ng-template>
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">Import</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="CODE">
            <free-code lang="typescript">
              import &#123;LoadingModule&#125; from 'freeng/freeng';
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-loading></free-loading>
            <free-loading type="circleLine"></free-loading>
            <free-loading type="circleLineSpin"></free-loading>
            <free-loading type="circleRoundFade"></free-loading>
            <free-loading type="lineSquare"></free-loading>
            <free-loading type="lineRound"></free-loading>
            <free-loading type="lineBounce"></free-loading>
            <free-loading type="circleSpin"></free-loading>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-loading&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleLine"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleLineSpin"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleRoundFade"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="lineSquare"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="lineRound"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="lineBounce"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleSpin"&gt;&lt;/free-loading&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Theme</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-loading theme="primary"></free-loading>
            <free-loading theme="info"></free-loading>
            <free-loading theme="success"></free-loading>
            <free-loading theme="warning"></free-loading>
            <free-loading theme="danger"></free-loading>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-loading theme="primary"&gt;&lt;/free-loading&gt;
              &lt;free-loading theme="info"&gt;&lt;/free-loading&gt;
              &lt;free-loading theme="success"&gt;&lt;/free-loading&gt;
              &lt;free-loading theme="warning"&gt;&lt;/free-loading&gt;
              &lt;free-loading theme="danger"&gt;&lt;/free-loading&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
  <blockquote>FreeNG - {{'MOTTO' | translate}}</blockquote>
</div>
