html {
  font-size: 20px;
}

@mixin reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button, a,
free-accordion,
free-badge,
free-breadcrumb,
free-calendar,
free-card,
free-cascader,
free-chart,
free-chart,
free-checkbox,
free-chip,
free-code,
free-color-picker,
free-column,
free-contextmenu,
free-datatable,
free-draggable,
free-dropdown,
free-editor,
free-fullpage,
free-hamburge,
free-icon,
free-image,
free-inputtext,
free-list,
free-loading,
free-mask,
free-modal,
free-notification,
free-pagination,
free-panel,
free-particle,
free-progress,
free-radio,
free-range,
free-rating,
free-scroll,
free-select,
free-shrink,
free-sidebar,
free-slides,
free-spinner,
free-switch,
free-tab,
free-table,
free-timeline,
free-toast,
free-tree,
free-upload{
  @include reset;

}

*:before, *:after {
  box-sizing: border-box; }

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.pull-right {
  align-items: flex-end;
}

.pull-left {
  align-items: flex-start;
}

.pull-center {
  align-items: center;
}


.align-content-start {
  -ms-flex-line-pack: start!important;
  align-content: flex-start!important
}

.align-content-end {
  -ms-flex-line-pack: end!important;
  align-content: flex-end!important
}

.align-content-center {
  -ms-flex-line-pack: center!important;
  align-content: center!important
}

.align-content-between {
  -ms-flex-line-pack: justify!important;
  align-content: space-between!important
}

.align-content-around {
  -ms-flex-line-pack: distribute!important;
  align-content: space-around!important
}

.align-content-stretch {
  -ms-flex-line-pack: stretch!important;
  align-content: stretch!important
}

.align-self-auto {
  -ms-flex-item-align: auto!important;
  -ms-grid-row-align: auto!important;
  align-self: auto!important
}

.align-self-start {
  -ms-flex-item-align: start!important;
  align-self: flex-start!important
}

.align-self-end {
  -ms-flex-item-align: end!important;
  align-self: flex-end!important
}

.align-self-center {
  -ms-flex-item-align: center!important;
  -ms-grid-row-align: center!important;
  align-self: center!important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline!important;
  align-self: baseline!important
}

.align-self-stretch {
  -ms-flex-item-align: stretch!important;
  -ms-grid-row-align: stretch!important;
  align-self: stretch!important
}

.no-flex-wrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

free-tab-group {
  flex: 1 0 auto;
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 992px) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.text-right {
  text-align: right;
}

input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.btn, .btn:focus, .btn:active, .btn:hover {
  outline: none;
  border: none;
}

a, a:visited, a:link, a:active, a:hover {
  outline: none;
}

a:not(.btn):visited, a:not(.btn):link, a:not(.btn):active {
  color: #2979FF;
  text-decoration: none; }

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 0 .75rem;
  font-size: .75rem;
  height: 1.7rem;
  border-radius: 3px;
  outline: none;
  line-height: 1;
  user-select: none;
  text-decoration: none;
}

.btn:not([disabled]) {
  &:active, &.active {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    color: #333;
    text-decoration: none
  }
}

.btn:active,.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.btn.btn-round {
  border-radius: 1rem;
}

.btn,
.btn-group {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.btn.btn-flat,
.btn-group.btn-group-flat{
  box-shadow: none !important;
}

.btn.btn-block {
  display: block;
  width: 100%;
}

.btn.btn-big {
  height: 2.2rem;
  padding: 0 1.25rem;
  font-size: .8rem;

  &.btn-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.btn.btn-small {
  height: 1.5rem;
  padding: 0 .5rem;
  font-size: .6rem;

  &.btn-circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.btn.btn-mini {
  height: 1.1rem;
  padding: 0 5px;
  font-size: .6rem;
  &.btn-circle {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

.btn-circle {
  border-radius: 50%;
  padding: 0;
  width:40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.btn-default {
  color: #43494d;
  background: #fff;
}

.btn-default:not([disabled]) {
  &:hover, &:focus, &:active, &.active {
    color: #43494d;
    background-color: #eee;
  }
}

.btn-primary {
  color: white;
  background-color: #177bbb;
  border-color: #177bbb;
}

.btn-primary:not([disabled]) {
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: #115d8e;
    border-color: #105785;
  }
}

.btn-success {
  color: white;
  background-color: #1aae88;
  border-color: #1aae88;
}

.btn-success {
  background: #1aae88;
}

.btn-success:not([disabled]) {
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: #138265;
    border-color: #12795e;
  }
}

.btn-dark {
  color: white;
  background: #222733;
}

.btn-dark:not([disabled]) {
  &:hover, &:focus, &:active, &.active {
    color: white;
  }
}

.btn-info {
  background: #1ccacc;
}

.btn-info {
  color: white;
  background-color: #1ccacc;
  border-color: #1ccacc;
}

.btn-info:not([disabled]) {
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: #169e9f;
    border-color: #159596;
  }
}

.btn-warning {
  color: white;
  background-color: #fbb23e;
  border-color: #fbb23e;
}

.btn-warning:not([disabled]) {
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: #fa9e0c;
    border-color: #f79905;
  }
}

.btn-danger {
  color: white;
  background-color: #e33244;
  border-color: #e33244;
}

.btn-danger:not([disabled]) {
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: #c71b2d;
    border-color: #be1a2b;
  }
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .btn {
  float: left;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-group > .btn:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.btn-group > .btn:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.btn.btn-block {
  display: block;
}

.btn[disabled],
.btn.btn-disabled{
  border: 1px solid #d9d9d9;
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn i.free-btn-left {
  padding-right: 5px;
}

.btn i.free-btn-right {
  padding-left: 5px;
}

button {
  outline: none;
}

button.btn i {
  font-size: .8rem;
}

input.input {
  background: rgba(242, 244, 248, 0.4);
}

.free-drop-cap:first-letter {
  color: #c69c6d;
  float: left;
  font-size: 5em;
  margin: 0 .2em 0 0;
}

.ripple-effect {
  position: relative;
  overflow: hidden;
}

.ripple {
  border-radius: 50%;
  background-color: currentColor;
  transform: scale(0);
  position: absolute;
  pointer-events: none;
  opacity: .8;
}

.rippleEffect {
  -webkit-animation: rippleEffect 2s cubic-bezier(0.23, 1, 0.32, 1);
  animation: rippleEffect 2s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes rippleEffect {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes rippleEffect {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

.form-group {
  margin-bottom: .75rem;
}

.free-highlight {
  overflow: hidden;
  position: relative;
}

.free-highlight:before {
  display: block;
  top: -200%;
  left: -100%;
  width: 50%;
  height: 300%;
  transform: rotate(45deg);
  background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.6) 65%, rgba(255, 255, 255, 0.05) 100%);
  background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.6) 65%, rgba(255, 255, 255, 0.05) 100%);
  background: -o-linear-gradient(to right, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.6) 65%, rgba(255, 255, 255, 0.05) 100%);
  background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.6) 65%, rgba(255, 255, 255, 0.05) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.6) 65%, rgba(255, 255, 255, 0.05) 100%);
  content: '';
  z-index: 2;
  position: absolute;
}

.free-highlight img {
  width: 100%;
  height: 100%;
}

.free-highlight:hover:before {
  animation: crossed .5s linear;
}

@-webkit-keyframes crossed {
  0% {
    top: -200%;
    left: -100%;
  }
  100% {
    top: -50px;
    left: 100%;
  }
}

@-moz-keyframes crossed {
  0% {
    top: -200%;
    left: -100%;
  }
  100% {
    top: -50px;
    left: 100%;
  }
}

@-o-keyframes crossed {
  0% {
    top: -200%;
    left: -100%;
  }
  100% {
    top: -50px;
    left: 100%;
  }
}

@-ms-keyframes crossed {
  0% {
    top: -200%;
    left: -100%;
  }
  100% {
    top: -50px;
    left: 100%;
  }
}

@keyframes crossed {
  0% {
    top: -200%;
    left: -100%;
  }
  100% {
    top: -50px;
    left: 100%;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  width: 120px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #67CF22;
  border-radius: 100%;
  display: inline-block;
  animation: bouncedelay 2.8s infinite ease-in-out;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  background-color: #cd402e;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
  background-color: #b07da8;
}

.spinner .bounce3 {
  animation-delay: -0.32s;
  background-color: #f1b428;
}

.spinner .bounce4 {
  animation-delay: -0.48s;
  background-color: #06AAA2;
}

.spinner .bounce5 {
  animation-delay: -0.64s;
  background-color: #FF0909;
}

@-webkit-keyframes bouncedelay {
  0% {
    -webkit-transform: translate(-400px, 0);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(400px, 0);
    opacity: 0;
  }
}

@keyframes bouncedelay {
  0% {
    transform: translate(-400px, 0);
    opacity: 0;
  }
  35%,
  65% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(400px, 0);
    opacity: 0;
  }
}


.no-padding {
  padding: 0 !important
}

.no-padding-bottom {
  padding-bottom: 0 !important
}

.no-padding-top {
  padding-top: 0 !important
}

.no-padding-left {
  padding-left: 0 !important
}

.no-padding-right {
  padding-right: 0 !important
}

.padding-5 {
  padding: 5px !important
}

.padding-10 {
  padding: 10px !important
}

.padding-20 {
  padding: 20px !important
}

.padding-30 {
  padding: 30px !important
}

.padding-40 {
  padding: 40px !important
}

.padding-50 {
  padding: 50px !important
}

.padding-left-5 {
  padding-left: 5px !important
}

.padding-left-10 {
  padding-left: 10px !important
}

.padding-left-20 {
  padding-left: 20px !important
}

.padding-left-30 {
  padding-left: 30px !important
}

.padding-left-40 {
  padding-left: 40px !important
}

.padding-left-50 {
  padding-left: 50px !important
}

.padding-top-5 {
  padding-top: 5px !important
}

.padding-top-10 {
  padding-top: 10px !important
}

.padding-top-20 {
  padding-top: 20px !important
}

.padding-top-30 {
  padding-top: 30px !important
}

.padding-top-40 {
  padding-top: 40px !important
}

.padding-top-50 {
  padding-top: 50px !important
}

.padding-right-5 {
  padding-right: 5px !important
}

.padding-right-10 {
  padding-right: 10px !important
}

.padding-right-20 {
  padding-right: 20px !important
}

.padding-right-30 {
  padding-right: 30px !important
}

.padding-right-40 {
  padding-right: 40px !important
}

.padding-right-50 {
  padding-right: 50px !important
}

.padding-bottom-5 {
  padding-bottom: 5px !important
}

.padding-bottom-10 {
  padding-bottom: 10px !important
}

.padding-bottom-20 {
  padding-bottom: 20px !important
}

.padding-bottom-30 {
  padding-bottom: 30px !important
}

.padding-bottom-40 {
  padding-bottom: 40px !important
}

.padding-bottom-50 {
  padding-bottom: 50px !important
}

.no-margin {
  margin: 0 !important
}

.no-margin-bottom {
  margin-bottom: 0 !important
}

.no-margin-top {
  margin-top: 0 !important
}

.no-margin-left {
  margin-left: 0 !important
}

.no-margin-right {
  margin-right: 0 !important
}

.margin-5 {
  margin: 5px !important
}

.margin-10 {
  margin: 10px !important
}

.margin-20 {
  margin: 20px !important
}

.margin-30 {
  margin: 30px !important
}

.margin-40 {
  margin: 40px !important
}

.margin-50 {
  margin: 50px !important
}

.margin-left-5 {
  margin-left: 5px !important
}

.margin-left-10 {
  margin-left: 10px !important
}

.margin-left-20 {
  margin-left: 20px !important
}

.margin-left-30 {
  margin-left: 30px !important
}

.margin-left-40 {
  margin-left: 40px !important
}

.margin-left-50 {
  margin-left: 50px !important
}

.margin-top-5 {
  margin-top: 5px !important
}

.margin-top-10 {
  margin-top: 10px !important
}

.margin-top-20 {
  margin-top: 20px !important
}

.margin-top-30 {
  margin-top: 30px !important
}

.margin-top-40 {
  margin-top: 40px !important
}

.margin-top-50 {
  margin-top: 50px !important
}

.margin-right-5 {
  margin-right: 5px !important
}

.margin-right-10 {
  margin-right: 10px !important
}

.margin-right-20 {
  margin-right: 20px !important
}

.margin-right-30 {
  margin-right: 30px !important
}

.margin-right-40 {
  margin-right: 40px !important
}

.margin-right-50 {
  margin-right: 50px !important
}

.margin-bottom-5 {
  margin-bottom: 5px !important
}

.margin-bottom-10 {
  margin-bottom: 10px !important
}

.margin-bottom-20 {
  margin-bottom: 20px !important
}

.margin-bottom-30 {
  margin-bottom: 30px !important
}

.margin-bottom-40 {
  margin-bottom: 40px !important
}

.margin-bottom-50 {
  margin-bottom: 50px !important
}

.font-10 {
  font-size: 10%
}

.font-20 {
  font-size: 20%
}

.font-30 {
  font-size: 30%
}

.font-40 {
  font-size: 40%
}

.font-50 {
  font-size: 50%
}

.font-60 {
  font-size: 60%
}

.font-70 {
  font-size: 70%
}

.font-80 {
  font-size: 80%
}

.font-90 {
  font-size: 90%
}

.font-110 {
  font-size: 110%
}

.font-120 {
  font-size: 120%
}

.font-130 {
  font-size: 130%
}

.font-140 {
  font-size: 140%
}

.font-150 {
  font-size: 150%
}

.font-160 {
  font-size: 160%
}

.font-170 {
  font-size: 170%
}

.font-180 {
  font-size: 180%
}

.font-190 {
  font-size: 190%
}

.font-200 {
  font-size: 200%
}

blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
  padding-right: 8px;
}

.free-tooltip {
  position: fixed;
  max-width: 12.5rem;
  padding: .25rem .5rem;
  background: rgba(18, 19, 26, 0.9);
  color: #fff;
  border-radius: 3px;
  white-space: normal;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.free-tooltip:before {
  content: '';
  position: absolute;
}

.free-tooltip.right {
  margin-left: .4rem;
}

.free-tooltip.right:before {
  top: 50%;
  left: -.8rem;
  border: .4rem solid transparent;
  border-right-color: rgba(18, 19, 26, 0.9);
}

.free-tooltip.right:before,
.free-tooltip.left:before {
  transform: translate(0, -50%);
}

.free-tooltip.left {
  margin-left: -.4rem;
}

.free-tooltip.left:before {
  top: 50%;
  right: -.8rem;
  border: .4rem solid transparent;
  border-left-color: rgba(18, 19, 26, 0.9);
}

.free-tooltip.top {
  margin-top: -.4rem;
}

.free-tooltip.top:before {
  left: 50%;
  bottom: -.8rem;
  border: .4rem solid transparent;
  border-top-color: rgba(18, 19, 26, 0.9);
}

.free-tooltip.top:before,
.free-tooltip.bottom:before {
  transform: translate(-50%, 0);
}

.free-tooltip.bottom {
  margin-top: .4rem;
}

.free-tooltip.bottom:before {
  left: 50%;
  top: -.8rem;
  border: .4rem solid transparent;
  border-bottom-color: rgba(18, 19, 26, 0.9);
}

.img-circle {
  border-radius: 50%;
}

.img-shield {
  border-radius: 2em / 3em;
}

.img-skew {
  border-radius: 3em 1em / 3em 1em;
}

.img-skew2 {
  border-radius: 3em 1em 1em / 3em 1em 1em;
}

.img-ellipse {
  border-radius: 50%;
}

.img-ellipse-half {
  border-radius: 50% 1em 1em 50% / 50% 1em 1em 50%;
}

.img-ellipse-quarter {
  border-radius: 100% 0 0;
}

.img-quarter {
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.img-thumbnail {
  background: #eee;
  border: 1px solid #d9d9d9;
  padding: .25rem;
}

.free-depth {
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.22);
}

.free-depth-top-left {
  box-shadow: -10px -10px 25px 0px rgba(0, 0, 0, 0.22);
}

.free-depth-top-right {
  box-shadow: 10px -10px 25px 0px rgba(0, 0, 0, 0.22);
}

.free-depth-bottom-right {
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.22);
}

.free-depth-bottom-left {
  box-shadow: -10px 10px 25px 0px rgba(0, 0, 0, 0.22);
}

.free-depth-top {
  box-shadow: 0 -15px 10px -10px rgba(0, 0, 0, 0.22);
}

.free-depth-right {
  box-shadow: 15px 0 10px -10px rgba(0, 0, 0, 0.22);
}

.free-depth-bottom {
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.22);
}

.free-depth-left {
  box-shadow: -15px 0 10px -10px rgba(0, 0, 0, 0.22);
}

.free-shadow {
  position: relative;
  z-index: 1;
}

.free-shadow-1dp {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.free-shadow-2dp {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.free-shadow-3dp {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.free-shadow-4dp {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12);
}

.free-shadow-5dp {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px rgba(0, 0, 0, 0.14), 0 1px 14px rgba(0, 0, 0, 0.12);
}

.free-shadow-6dp {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12);
}

.free-shadow-7dp {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.free-shadow-8dp {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.free-shadow-9dp {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.free-shadow-10dp {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.free-shadow-11dp {
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.free-shadow-12dp {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.free-shadow-13dp {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.free-shadow-14dp {
  box-shadow: 0 7px 9px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.free-shadow-15dp {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.free-shadow-16dp {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.free-shadow-17dp {
  box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.free-shadow-18dp {
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.free-shadow-19dp {
  box-shadow: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.free-shadow-20dp {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.free-shadow-21dp {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.free-shadow-22dp {
  box-shadow: 0 10px 14px -6px rgba(0, 0, 0, 0.2), 0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.free-shadow-23dp {
  box-shadow: 0 11px 14px -7px rgba(0, 0, 0, 0.2), 0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.free-shadow-24dp {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.free-iscroll::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.free-iscroll::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #333;
}

.free-iscroll::-webkit-scrollbar-corner, .free-iscroll::-webkit-scrollbar-track {
  background-color: #ccc;
}

.free-iscroll.free-iscroll-hover {
  overflow: hidden !important;
  &:hover,
  &:active,
  &:focus {
    overflow-y: auto !important;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

hr {
  border-color: rgba(0, 0, 0, .12);
  border-bottom: none;
  margin: 1rem 0;
}

code:not(.hljs) {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 2px;
}
.text-muted {
  color: inherit!important;
  opacity: .6;
}
