.input-field {
  position: relative;
  min-width: 4rem; }
  .input-field input {
    background-color: transparent;
    height: 35px;
    width: 100%;
    box-shadow: none;
    outline: none;
    padding: 0 .5rem;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    transition: all 0.3s; }
    .input-field input + span {
      position: absolute;
      top: 100%;
      left: 0;
      display: inline-block;
      max-width: 100%;
      z-index: 0;
      width: 100%;
      height: 1px;
      border: 1px solid #d9d9d9; }
    .input-field input:focus + span:after {
      transform: scale(1); }
    .input-field input:focus {
      background-color: #fff;
      border-color: #108ee9; }
  .input-field span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2196f3;
    transform: scale(0);
    transition: all .2s ease-out; }
  .input-field .free-inputtext-validator,
  .input-field .free-inputtext-icon {
    position: absolute;
    width: 25px;
    top: 50%;
    text-align: center;
    opacity: 1;
    padding: 0 5px;
    font-size: .75rem;
    transform: translate(0, -50%); }
  .input-field .free-inputtext-validator {
    right: 0; }
  .input-field .free-inputtext-icon {
    left: 0; }
    .input-field .free-inputtext-icon + input {
      padding-left: 25px; }
  .input-field.input-field-icon input {
    padding-right: 25px; }
  .input-field.free-success span:after {
    background: #1aae88; }
  .input-field.free-success input,
  .input-field.free-success input:focus {
    border-color: #1aae88; }
  .input-field.free-success .free-inputtext-validator {
    color: #1aae88; }
  .input-field.free-warning span:after {
    background: #fbb23e; }
  .input-field.free-warning input,
  .input-field.free-warning input:focus {
    border-color: #fbb23e; }
  .input-field.free-warning .free-inputtext-validator {
    color: #fbb23e; }
  .input-field.free-error span:after {
    background: #e33244; }
  .input-field.free-error input,
  .input-field.free-error input:focus {
    border-color: #e33244; }
  .input-field.free-error .free-inputtext-validator {
    color: #e33244; }
  .input-field .free-inputtext-tip {
    position: absolute;
    max-width: 20rem;
    min-width: 12rem;
    padding: .5rem;
    border-radius: 3px;
    line-height: 1.1rem;
    z-index: 998;
    color: #fff;
    background: #e33244;
    opacity: 1;
    display: none;
    transition: all .3s;
    backface-visibility: hidden; }
    .input-field .free-inputtext-tip.free-tip-top {
      top: -100%;
      left: 50%;
      transform: translate3d(-50%, 1rem, 0); }
      .input-field .free-inputtext-tip.free-tip-top:before {
        bottom: -1rem;
        left: 50%;
        border-top: .5rem solid #e33244;
        transform: translate3d(-50%, 0, 0); }
    .input-field .free-inputtext-tip.free-tip-right {
      left: 100%;
      top: 50%;
      transform: translate3d(0.5rem, -50%, 0); }
      .input-field .free-inputtext-tip.free-tip-right:before {
        top: 50%;
        left: -1rem;
        border-right: .5rem solid #e33244;
        transform: translate3d(0, -50%, 0); }
    .input-field .free-inputtext-tip:before {
      content: "";
      position: absolute;
      border: .5rem solid transparent; }

/*# sourceMappingURL=inputtext.component.css.map */
