@import "../../../assets/sass/variables";

.input-field {
  position: relative;
  min-width: 4rem;

  input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 35px;
    width: 100%;
    padding: 0;
    box-shadow: none;
    outline: none;
    transition: all 0.3s;

    & + span {
      position: absolute;
      top: 100%;
      left: 0;
      display: inline-block;
      max-width: 100%;
      z-index: 0;
      width: 100%;
      height: 1px;
      border: 1px solid #d9d9d9;
    }

    &:focus + span:after {
      transform: scale(1);
    }

    &:focus + span + i {
      opacity: 1;
    }
  }

  span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2196f3;
    transform: scale(0);
    transition: all .2s ease-out;
  }

  &.input-field-icon i {
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0;
    padding: 0 5px;
    font-size: .75rem;
    transform: translate(0, -50%);
  }
  &.input-field-icon input {
    padding-right: 25px;
  }

  @each $theme, $color in $theme {
    &.free-#{$theme} span:after {
      background: $color;
    }
    &.free-#{$theme}.input-field-icon i {
      color: $color;
    }
  }
}

.free-tip {
  position: fixed;
  max-width: 20rem;
  min-width: 12rem;
  padding: .5rem;
  border-radius: 3px;
  line-height: 1.1rem;
  z-index: 998;
  color: #fff;
  background: rgba(33, 150, 243, .8);
  opacity: 0;
  transition: all .3s;
  backface-visibility: hidden;

  &.free-tip-top {
    transform: translate3d(0, -4rem, 0);

    &:before {
      bottom: -1rem;
      left: 50%;
      border-top: .5rem solid rgba(33, 150, 243, .8);
      transform: translate3d(-50%, 0, 0);
    }
  }

  &.free-tip-right {
    transform: translate3d(4rem, 0, 0);

    &:before {
      top: 50%;
      left: -1rem;
      border-right: .5rem solid rgba(33, 150, 243, .8);
      transform: translate3d(0, -50%, 0);
    }
  }

  &:before {
    content: "";
    position: absolute;
    border: .5rem solid transparent;
  }
}

