<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        面包屑结构简单，支持自定义分隔符。
      </p>
      <h3 class="free-head-title">API 选项<span class="symbol component"></span></h3>
      <div class="free-demo-row">
        <h3 class="free-title">free-breadcrumb</h3>
        <p>面包屑组。</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>menus</free-table-cell>
              <free-table-cell>
                <ng-template><code>Array</code></ng-template>
              </free-table-cell>
              <free-table-cell>面包屑数组</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>separator</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>自定义分隔符</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>icon</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>使用FontAwesome字体图标来自定义分隔符</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div fGrid="6" class="free-demo-board">

      <div class="free-card-board">
        <h3 class="free-toolbar">Import</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="CODE">
            <free-code lang="typescript">
              import &#123;BreadcrumbModule&#125; from 'freeng/freeng';
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-breadcrumb [menus]="menus"></free-breadcrumb>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-breadcrumb [menus]="menus"&gt;&lt;/free-breadcrumb&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Separator</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-breadcrumb separator="|" [menus]="menus"></free-breadcrumb>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-breadcrumb separator="|" [menus]="menus"&gt;&lt;/free-breadcrumb&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Icon</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-breadcrumb icon="tag" [menus]="menus"></free-breadcrumb>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-breadcrumb icon="tag" [menus]="menus"&gt;&lt;/free-breadcrumb&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>

  </div>

  <blockquote>FreeNG - 用心做好每一步</blockquote>
</div>
