<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        强大的触摸滑动幻灯片
      </p>
      <hr>
      <h3 class="free-head-title">API 选项<span class="symbol component"></span></h3>
      <div class="free-demo-row">
        <h3 class="free-title">free-slides</h3>
        <p>一个幻灯片列表容器。</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>styles</free-table-cell>
              <free-table-cell>
                <ng-template><code>Object</code></ng-template>
              </free-table-cell>
              <free-table-cell>设置幻灯片样式，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>pagination</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否显示分页器，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>paginationClickable</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>分页器是否可点击，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>arrow</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否显示左右切换箭头，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>loop</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否可循环，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>autoplay</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否自动播放，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>autoplayDisableOnInteraction</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                用户操作之后，是否禁止autoplay。默认为true：停止。
                如果设置为false，用户操作之后自动切换不会停止，每次都会重新启动autoplay。
                操作包括触碰，拖动，点击pagination等。
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>

      <div class="free-demo-row">
        <h3 class="free-title">free-slide</h3>
        <p>一个切换的幻灯片，可以包含文字、图片、html元素。</p>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-demo-board">
        <div class="free-card-board">
          <h3 class="free-toolbar">Import</h3>
          <free-tab-group direction="right" theme="line">
            <free-tab header="CODE">
              <free-code lang="typescript">
                import &#123;SlideModule&#125; from 'freeng/freeng';
              </free-code>
            </free-tab>
          </free-tab-group>
        </div>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
             <free-slides [styles]="{width: '300px'}">
               <free-slide>
                 <img src="assets/images/landscape1.jpg" alt="">
               </free-slide>
               <free-slide>
                 <img src="assets/images/landscape2.jpg" alt="">
               </free-slide>
               <free-slide>
                 <img src="assets/images/landscape3.jpg" alt="">
               </free-slide>
             </free-slides>
          </free-tab>
          <free-tab header="CODE" >
            <free-code lang="html" >
            &lt;free-slides&gt;
              &lt;free-slide&gt;
                &lt;img src="assets/images/landscape1.jpg" alt=""&gt;
              &lt;/free-slide&gt;
              &lt;free-slide&gt;
                &lt;img src="assets/images/landscape2.jpg" alt=""&gt;
              &lt;/free-slide&gt;
              &lt;free-slide&gt;
                &lt;img src="assets/images/landscape3.jpg" alt=""&gt;
              &lt;/free-slide&gt;
            &lt;/free-slides&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Pagination</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-slides [styles]="{width: '300px'}" [pagination]="true" >
              <free-slide>
                <img src="assets/images/landscape1.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape2.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape3.jpg" alt="">
              </free-slide>
            </free-slides>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html" >
              &lt;free-slides [pagination]="true"&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape1.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape2.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape3.jpg" alt=""&gt;
                &lt;/free-slide&gt;
              &lt;/free-slides&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">paginationClickable</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-slides [styles]="{width: '300px'}" [pagination]="true" [paginationClickable]="true" >
              <free-slide>
                <img src="assets/images/landscape1.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape2.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape3.jpg" alt="">
              </free-slide>
            </free-slides>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html" >
              &lt;free-slides [pagination]="true" [paginationClickable]="true"&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape1.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape2.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape3.jpg" alt=""&gt;
                &lt;/free-slide&gt;
              &lt;/free-slides&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Arrow</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-slides [styles]="{width: '300px'}" [arrow]="true">
              <free-slide>
                <img src="assets/images/landscape1.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape2.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape3.jpg" alt="">
              </free-slide>
            </free-slides>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html" >
              &lt;free-slides [arrow]="true"&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape1.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape2.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape3.jpg" alt=""&gt;
                &lt;/free-slide&gt;
              &lt;/free-slides&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Loop</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-slides [styles]="{width: '300px'}" [pagination]="true" [arrow]="true" [loop]="true" [paginationClickable]="true">
              <free-slide>
                <img src="assets/images/landscape1.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape2.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape3.jpg" alt="">
              </free-slide>
            </free-slides>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html" >
              &lt;free-slides [pagination]="true" [arrow]="true" [loop]="true" [paginationClickable]="true"&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape1.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape2.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape3.jpg" alt=""&gt;
                &lt;/free-slide&gt;
              &lt;/free-slides&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Loop</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-slides [styles]="{width: '300px'}" [pagination]="true" [arrow]="true"
                         [loop]="true" [paginationClickable]="true" [autoplay]="3000">
              <free-slide>
                <img src="assets/images/landscape1.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape2.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape3.jpg" alt="">
              </free-slide>
            </free-slides>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html" >
              &lt;free-slides [pagination]="true" [arrow]="true"
                [loop]="true" [paginationClickable]="true" [autoplay]="3000"&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape1.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape2.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape3.jpg" alt=""&gt;
                &lt;/free-slide&gt;
              &lt;/free-slides&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">AutoplayDisableOnInteraction</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-slides [styles]="{width: '300px'}" [pagination]="true" [arrow]="true" [autoplayDisableOnInteraction]="false"
                         [loop]="true" [paginationClickable]="true" [autoplay]="3000">
              <free-slide>
                <img src="assets/images/landscape1.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape2.jpg" alt="">
              </free-slide>
              <free-slide>
                <img src="assets/images/landscape3.jpg" alt="">
              </free-slide>
            </free-slides>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html" >
              &lt;free-slides [pagination]="true" [arrow]="true" [autoplayDisableOnInteraction]="false"
                [loop]="true" [paginationClickable]="true" [autoplay]="3000"&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape1.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape2.jpg" alt=""&gt;
                &lt;/free-slide&gt;
                &lt;free-slide&gt;
                  &lt;img src="assets/images/landscape3.jpg" alt=""&gt;
                &lt;/free-slide&gt;
              &lt;/free-slides&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
  <blockquote>FreeNG - 用心做好每一步</blockquote>
</div>
