<section class="main-container">
  <div class="row">
    <free-panel fGrid="8">
      <f-header>FreeNG 前端UI框架</f-header>
      <p>
        FreeNG是一款完全响应式的前端UI框架，
        它采用了主流的左右两栏式布局，使用了Html5+CSS3+Angular2(+4)等流行的前端技术，
        同时提供了诸多强大的可以重新组合的UI组件，门槛极低，拿来即用。
      </p>
      <p>FreeNG还很年轻，首个版本发布于2017年5月。</p>
      <p>
        <b>当前版本：</b> v0.1.0
      </p>
      <p>
        <b>重要声明：</b> 如其名Free，FreeNG框架是免费开源的!
      </p>
    </free-panel>

    <free-panel fGrid="4">
      <f-header>关于作者</f-header>
      <p>
        <span><i class="fa fa-user"></i> 作者：</span>
        <a href="" target="_blank">铁锅(TG)</a>，90后未进化完全的地球人，也是一名传说中会很早秃顶的程序猿，
        从事前端开发，平时爱瞎折腾，每天主要的工作就是对着电脑撸码。
      </p>
      <p>
        <span><i class="fa fa-flag"></i> 博客：</span>
        <a href="http://ghmagical.com" target="_blank">http://ghmagical.com</a>
      </p>
      <p>
        <span><i class="fa fa-qq"></i> QQ(交流群)：</span> 540629196
      </p>
    </free-panel>

    <free-panel fGrid="4">
      <f-header>功能特点</f-header>
      <ol class="main-point">
        <li>基于Angular4开发</li>
        <li>采取Flex布局实现完全响应式布局</li>
        <li>丰富的主题选择</li>
        <li>提供了诸多可组合的UI组件</li>
      </ol>
    </free-panel>

    <free-panel fGrid="4">
      <f-header>更新日志</f-header>
      <free-accordion-group [closeOthers]="true">
        <free-accordion class="let-menu-item" header="v0.1.0 - 初始版本">
          <ul class="free-ul-padding">
            <li>UI 元素</li>
            <li>基础组件</li>
            <li>拓展组件</li>
          </ul>
        </free-accordion>
      </free-accordion-group>
    </free-panel>
  </div>
</section>
