:host /deep/ .re-container * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }
:host /deep/ .re-container.active {
  border-color: #66afe9 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }
:host /deep/ .re-editor::-webkit-scrollbar {
  width: 10px;
  height: 10px; }
:host /deep/ .re-container .editor-modal .emotion {
  margin: 5px;
  vertical-align: top;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all .3s;
  transition: all .3s; }
:host /deep/ .re-container .editor-modal .emotion:hover {
  box-shadow: 0 0 2px 2px #999; }
:host /deep/ .re-editor::-webkit-scrollbar-track,
:host /deep/ .re-editor::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent; }
:host /deep/ .re-editor::-webkit-scrollbar-button:start:hover {
  background-color: #eee; }
:host /deep/ .re-editor::-webkit-scrollbar-button:end {
  background-color: #eee; }
:host /deep/ .re-editor::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2); }
:host /deep/ .re-editor::-webkit-scrollbar-corner {
  display: block; }
:host /deep/ .re-editor::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.15); }
:host /deep/ .re-editor::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); }
:host /deep/ .re-container {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  overflow: hidden;
  border-radius: 5px; }
:host /deep/ .re-toolbar {
  overflow: hidden;
  padding: 0;
  min-height: 30px; }
:host /deep/ .re-toolbar-top {
  border-bottom: 1px solid #ddd; }
:host /deep/ .re-toolbar-icon {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #999;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 8px 12px;
  font: 16px FontAwesome;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
:host /deep/ .re-toolbar-icon:hover {
  background-color: #555;
  color: #fff; }
:host /deep/ .re-editor {
  outline: none;
  padding: 10px;
  overflow-y: auto; }
:host /deep/ .re-editor p,
:host /deep/ .re-editor div {
  margin: 0;
  line-height: 1.5;
  font-size: 15px; }
:host /deep/ .editor-modal {
  position: absolute;
  top: 35px;
  left: 0;
  background: #fff;
  padding: 10px;
  box-shadow: 2px 2px 3px 3px #999;
  border-radius: 5px; }
:host /deep/ .editor-link-input {
  padding: 0 10px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #d9d9d9; }
:host /deep/ .editor-modal h1,
:host /deep/ .editor-modal h2,
:host /deep/ .editor-modal h3,
:host /deep/ .editor-modal h4,
:host /deep/ .editor-modal h5,
:host /deep/ .editor-modal h6 {
  margin: 3px 0;
  cursor: pointer;
  padding: 0 10px; }
:host /deep/ .editor-heading h1:hover,
:host /deep/ .editor-heading h2:hover,
:host /deep/ .editor-heading h3:hover,
:host /deep/ .editor-heading h4:hover,
:host /deep/ .editor-heading h5:hover,
:host /deep/ .editor-heading h6:hover {
  color: HighlightText;
  background-color: Highlight; }
:host /deep/ .editor-confirm {
  background: #2489C5;
  color: #fff;
  border: none;
  padding: 0 10px;
  height: 25px;
  cursor: pointer;
  border-radius: 5px; }
:host /deep/ .editor-confirm:active {
  opacity: .8; }
:host /deep/ .editor-file {
  position: relative;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ddd;
  overflow: hidden; }
:host /deep/ .editor-file .editor-file-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer; }
:host /deep/ .editor-file + button {
  width: 100%;
  margin-top: 10px; }
:host /deep/ .re-editor a {
  color: #2489C5;
  cursor: pointer; }
:host /deep/ .re-editor img {
  max-width: 350px; }
:host /deep/ .re-editor blockquote.editor-block {
  background: #ddd;
  padding: 15px 20px;
  margin: 10px 0;
  border-left: 5px solid #00a3cf;
  background: #f6f6f6; }
:host /deep/ .re-editor p {
  font-size: 16px;
  line-height: 30px; }
:host /deep/ .comment-box .re-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
:host /deep/ .comment-box .editor-modal {
  top: auto;
  bottom: 35px; }

/*# sourceMappingURL=editor.component.css.map */
