:host /deep/ {
  .re-container * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .re-container.active {
    border-color: #66afe9 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  }

  .re-editor::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .re-container .editor-modal .emotion {
    margin: 5px;
    vertical-align: top;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .re-container .editor-modal .emotion:hover {
    box-shadow: 0 0 2px 2px #999;
  }

  .re-editor::-webkit-scrollbar-track,
  .re-editor::-webkit-scrollbar-thumb {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
  }

  //.re-editor::-webkit-scrollbar-button:start {
  //  width: 10px;
  //  width: 9px;
  //  height: 12px;
  //  background: transparent url(assets/Images/arrow.png) no-repeat 0 0;
  //}
  //
  //.re-editor::-webkit-scrollbar-button:end {
  //  width: 10px;
  //  width: 9px;
  //  height: 12px;
  //  background: transparent url(assets/Images/arrow.png) no-repeat -50px 0;
  //}

  .re-editor::-webkit-scrollbar-button:start:hover {
    background-color: #eee;
  }

  .re-editor::-webkit-scrollbar-button:end {
    background-color: #eee;
  }

  .re-editor::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .re-editor::-webkit-scrollbar-corner {
    display: block;
  }

  .re-editor::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .re-editor::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .re-container {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    overflow: hidden;
    border-radius: 5px;
  }

  .re-toolbar {
    overflow: hidden;
    padding: 0;
    min-height: 30px;
  }

  .re-toolbar-top {
    border-bottom: 1px solid #ddd;
  }

  .re-toolbar-icon {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #999;
    text-decoration: none;
    vertical-align: top;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 12px;
    font: 16px FontAwesome;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }

  .re-toolbar-icon:hover {
    background-color: #555;
    color: #fff;
  }

  .re-editor {
    outline: none;
    padding: 10px;
    overflow-y: auto;
  }

  .re-editor p,
  .re-editor div {
    margin: 0;
    line-height: 1.5;
    font-size: 15px;
  }

  .editor-modal {
    position: absolute;
    top: 35px;
    left: 0;
    background: #fff;
    padding: 10px;
    box-shadow: 2px 2px 3px 3px #999;
    border-radius: 5px;
  }

  .editor-link-input {
    padding: 0 10px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
  }

  .editor-modal h1,
  .editor-modal h2,
  .editor-modal h3,
  .editor-modal h4,
  .editor-modal h5,
  .editor-modal h6 {
    margin: 3px 0;
    cursor: pointer;
    padding: 0 10px;
  }

  .editor-heading h1:hover,
  .editor-heading h2:hover,
  .editor-heading h3:hover,
  .editor-heading h4:hover,
  .editor-heading h5:hover,
  .editor-heading h6:hover {
    color: HighlightText;
    background-color: Highlight;
  }

  .editor-confirm {
    background: #2489C5;
    color: #fff;
    border: none;
    padding: 0 10px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
  }

  .editor-confirm:active {
    opacity: .8;
  }

  .editor-file {
    position: relative;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ddd;
    overflow: hidden;
  }

  .editor-file .editor-file-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }

  .editor-file+button {
    width: 100%;
    margin-top: 10px;
  }

  .re-editor a {
    color: #2489C5;
    cursor: pointer;
  }

  .re-editor img {
    max-width: 350px;
  }

  .re-editor blockquote.editor-block {
    background: #ddd;
    padding: 15px 20px;
    margin: 10px 0;
    border-left: 5px solid #00a3cf;
    background: #f6f6f6;
  }

  .re-editor p {
    font-size: 16px;
    line-height: 30px;
  }

  .comment-box .re-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .comment-box .editor-modal {
    top: auto;
    bottom: 35px;
  }
}
