.free-tour {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 999999;
  &.free-tour-active {
    display: block;

    .free-tour-overlay {
      opacity: 0.8;
    }
  }
  .free-tour-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: content-box;
    background-color: #000;
    opacity: 0;
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1)";
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
  }

  .free-tour-helperLayer {
    box-sizing: content-box;
    position: absolute;
    z-index: 9999998;
    background-color: #FFF;
    background-color: rgba(255,255,255,.9);
    border: 1px solid #777;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 4px;
    box-shadow: 0 2px 15px rgba(0,0,0,.4);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }

  .free-tour-tooltipReferenceLayer {
    box-sizing: content-box;
    position: absolute;
    visibility: hidden;
    z-index: 10000000;
    background-color: transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }

  .free-tour-helperNumberLayer {
    box-sizing: content-box;
    position: absolute;
    visibility: visible;
    top: -16px;
    left: -16px;
    z-index: 9999999999!important;
    padding: 2px;
    font-family: Arial,verdana,tahoma;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background: #ff3019;
    background: -webkit-linear-gradient(top,#ff3019 0,#cf0404 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff3019),color-stop(100%,#cf0404));
    background: -moz-linear-gradient(top,#ff3019 0,#cf0404 100%);
    background: -ms-linear-gradient(top,#ff3019 0,#cf0404 100%);
    background: -o-linear-gradient(top,#ff3019 0,#cf0404 100%);
    background: linear-gradient(to bottom,#ff3019 0,#cf0404 100%);
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0)";
    filter: "progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000)";
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
  }

  .free-tour-tooltip {
    box-sizing: content-box;
    position: absolute;
    visibility: visible;
    padding: 10px;
    background-color: white;
    min-width: 200px;
    max-width: 300px;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0,0,0,.4);
    -webkit-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;

    &:before {
      content: "";
      position: absolute;
    }

    &.free-tour-bottom {
      top: calc(100% + 10px);
      &:before {
        top: -16px;
        left: 10px;
        border: 8px solid transparent;
        border-bottom: 8px solid #fff;
      }
    }

    &.free-tour-top {
      bottom: calc(100% + 10px);
      &:before {
        top: calc(100% - 16px);
        left: 10px;
        border: 8px solid transparent;
        border-top: 8px solid #fff;
      }
    }

    &.free-tour-left {
      left: calc(-10px - 100%);
      &:before {
        top: 10px;
        left: calc(100% + 10px);
        border: 8px solid transparent;
        border-left: 8px solid #fff;
      }
    }

    &.free-tour-right {
      left: calc(100% + 10px);
      &:before {
        top: 10px;
        right: calc(100% + 10px);
        border: 8px solid transparent;
        border-right: 8px solid #fff;
      }
    }
  }

  .free-tour-bullets {
    text-align: center;
  }
}

.free-tour-target {
  z-index: 9999999!important;
}

.free-tour-relativePosition {
  position: relative;
}
