<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        FreeNG是一款完全响应式的前端UI框架， 它采用了主流的左右两栏式布局，使用了Html5+CSS3+Angular2(+4)等流行的前端技术，
        同时提供了诸多强大的可以重新组合的UI组件，门槛极低，拿来即用。
      </p>
      <p>FreeNG还很年轻，首个版本发布于2017年5月。</p>
      <p><b>当前版本</b>： v{{version}}</p>
      <hr>
      <h3 class="free-head-title">项目结构</h3>

      <blockquote>
        <free-tree [menus]="menus"></free-tree>
      </blockquote>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <free-panel header="从GitHub下载">
          <free-code lang="javascript">
            git clone https://github.com/IronPans/freeng.git
          </free-code>
        </free-panel>
      </div>
      <div class="free-card-board">
        <free-panel header="安装依赖并启动项目">
          <free-code lang="javascript">
            /*安装依赖*/
            npm install
            /*启动项目*/
            npm start
          </free-code>
        </free-panel>
      </div>
      <div class="free-card-board">
        <free-panel header="打包">
          <free-code lang="javascript">
            npm run build
          </free-code>
        </free-panel>
      </div>
    </div>
  </div>
</div>
