@import "../../../assets/sass/mixin";
@import "../../../assets/sass/variables";

.free-panel {
  background: #fff;
  color: rgba(0,0,0, 0.87);
  border-radius: 2px;
  @include boxShadow;
  @include clearfix;
  @include borderRadius(2px);

  .free-panel-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .85rem;
    padding: .35rem .75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    f-header, & > span {
      font-weight: bold;
    }
  }

  .free-panel-inner {
    padding: .75rem;
  }

  @each $theme, $color in $theme {
    &.free-panel-#{$theme} {
      background: $color !important;
      color: #fff;
    }
  }
}
