<aside class="left-menu free-iscroll">
  <ul class="left-menu-item">
    <li fRipple>
      <a routerLink="introduction" routerLinkActive="active">
        <free-icon icon="desktop"></free-icon>
        <span class="accordion-toggle-title">简介</span>
      </a>
    </li>
    <li fRipple>
      <a routerLink="getting-started" routerLinkActive="active">
        <free-icon icon="download"></free-icon>
        <span class="accordion-toggle-title">开始使用</span>
      </a>
    </li>
  </ul>
  <free-accordion-group [closeOthers]="true">
    <free-accordion class="let-menu-item" header="UI 元素" iconName="dashboard">
      <ul>
        <li fRipple>
          <a routerLink="grid" routerLinkActive="active">
            <cite>栅格系统</cite>
            <em>Grid</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="typography" routerLinkActive="active">
            <cite>辅助元素</cite>
            <em>Typography</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="image" routerLinkActive="active">
            <cite>图片</cite>
            <em>Shape</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="shadow" routerLinkActive="active">
            <cite>阴影</cite>
            <em>BoxShadow</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="ripple" routerLinkActive="active">
            <cite>水波纹</cite>
            <em>Ripple</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="columns" routerLinkActive="active">
            <cite>多栏布局</cite>
            <em>Column</em>
          </a>
        </li>
      </ul>
    </free-accordion>
    <free-accordion class="let-menu-item" header="基础组件" iconName="th-large">
      <ul>
        <li fRipple>
          <a routerLink="buttons" routerLinkActive="active">
            <cite>按钮</cite>
            <em>Button组</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="list" routerLinkActive="active">
            <cite>列表</cite>
            <em>List</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="card" routerLinkActive="active">
            <cite>卡片</cite>
            <em>Card</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="input" routerLinkActive="active">
            <cite>输入框</cite>
            <em>input</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="checkbox" routerLinkActive="active">
            <cite>复选框</cite>
            <em>Checkbox</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="radio" routerLinkActive="active">
            <cite>单选框</cite>
            <em>Radio</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="switch" routerLinkActive="active">
            <cite>开关</cite>
            <em>Switch</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="dropdown" routerLinkActive="active">
            <cite>下拉菜单</cite>
            <em>Dropdown</em>
          </a>
        </li>
        <li>
          <free-accordion-group [closeOthers]="true">
            <free-accordion class="let-menu-item" header="选择器">
              <ul>
                <li fRipple>
                  <a routerLink="select" routerLinkActive="active">
                    <cite>选择器</cite>
                    <em>Select</em>
                  </a>
                </li>
                <li fRipple>
                  <a routerLink="calendar" routerLinkActive="active">
                    <cite>日期选择器</cite>
                    <em>Calendar</em>
                  </a>
                </li>
                <li fRipple>
                  <a routerLink="cascader" routerLinkActive="active">
                    <cite>级联选择器</cite>
                    <em>Cascader</em>
                  </a>
                </li>
                <li fRipple>
                  <a routerLink="colorpicker" routerLinkActive="active">
                    <cite>颜色选择器</cite>
                    <em>Colorpicker</em>
                  </a>
                </li>
              </ul>
            </free-accordion>
          </free-accordion-group>
        </li>
        <li>
          <free-accordion-group [closeOthers]="true">
            <free-accordion class="let-menu-item" header="表格">
              <ul>
                <li fRipple>
                  <a routerLink="table" routerLinkActive="active">
                    <cite>表格</cite>
                    <em>Table</em>
                  </a>
                </li>
                <li fRipple>
                  <a routerLink="datatable" routerLinkActive="active">
                    <cite>数据表格</cite>
                    <em>Datatable</em>
                  </a>
                </li>
              </ul>
            </free-accordion>
          </free-accordion-group>
        </li>
        <li fRipple>
          <a routerLink="icon" routerLinkActive="active">
            <cite>图标</cite>
            <em>Icon</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="progress" routerLinkActive="active">
            <cite>进度条</cite>
            <em>progress</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="loading" routerLinkActive="active">
            <cite>加载条</cite>
            <em>Loading</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="breadcrumb" routerLinkActive="active">
            <cite>面包屑</cite>
            <em>breadcrumb</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="badge" routerLinkActive="active">
            <cite>小徽章</cite>
            <em>Badge</em>
          </a>
        </li>
      </ul>
    </free-accordion>
    <free-accordion class="let-menu-item" header="拓展组件" iconName="support">
      <ul>
        <li fRipple>
          <a routerLink="accordion" routerLinkActive="active">
            <cite>面板</cite>
            <em>Accordion / Collapsible</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="tabs" routerLinkActive="active">
            <cite>选项卡</cite>
            <em>Tab
            </em>
          </a>
        </li>
        <li>
          <free-accordion-group [closeOthers]="true">
            <free-accordion class="let-menu-item" header="提示框">
              <ul>
                <li fRipple>
                  <a routerLink="modals" routerLinkActive="active">
                    <cite>模态框</cite>
                    <em>Modal</em>
                  </a>
                </li>
                <li fRipple>
                  <a routerLink="tooltips" routerLinkActive="active">
                    <cite>提示框</cite>
                    <em>Tooltip</em>
                  </a>
                </li>
                <li fRipple>
                  <a routerLink="notification" routerLinkActive="active">
                    <cite>消息通知</cite>
                    <em>Notification</em>
                  </a>
                </li>
                <li fRipple>
                  <a routerLink="toast" routerLinkActive="active">
                    <cite>消息提示</cite>
                    <em>Toast</em>
                  </a>
                </li>
              </ul>
            </free-accordion>
          </free-accordion-group>
        </li>
        <li fRipple>
          <a routerLink="upload" routerLinkActive="active">
            <cite>上传控件</cite>
            <em>Upload</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="spinner" routerLinkActive="active">
            <cite>数字输入框</cite>
            <em>Spinner</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="range" routerLinkActive="active">
            <cite>滑动条</cite>
            <em>Range</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="rating" routerLinkActive="active">
            <cite>星星评分</cite>
            <em>Rating</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="tree" routerLinkActive="active">
            <cite>树形菜单</cite>
            <em>Tree</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="chip" routerLinkActive="active">
            <cite>碎片</cite>
            <em>chip</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="shrink" routerLinkActive="active">
            <cite>浮动按钮</cite>
            <em>Shrink</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="slide" routerLinkActive="active">
            <cite>幻灯片</cite>
            <em>Slide</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="pagination" routerLinkActive="active">
            <cite>分页器</cite>
            <em>Pagination</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="contextmenu" routerLinkActive="active">
            <cite>上下文菜单</cite>
            <em>Contextmenu</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="editor" routerLinkActive="active">
            <cite>编辑器</cite>
            <em>Editor</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="draggable" routerLinkActive="active">
            <cite>拖放</cite>
            <em>Draggable</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="charts" routerLinkActive="active">
            <cite>图表</cite>
            <em>Chart</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="sidenav" routerLinkActive="active">
            <cite>侧边栏</cite>
            <em>Sidenav</em>
          </a>
        </li>
      </ul>
    </free-accordion>
    <free-accordion class="let-menu-item" header="页面" iconName="clone">
      <ul>
        <li fRipple>
          <a routerLink="/login" routerLinkActive="active">
            <cite>登录页</cite>
            <em>Login</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="error" routerLinkActive="active">
            <cite>404页面</cite>
            <em>Error 404</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="fullpage" routerLinkActive="active">
            <cite>全屏滚动</cite>
            <em>Fullpage</em>
          </a>
        </li>
        <li fRipple>
          <a routerLink="timeline" routerLinkActive="active">
            <cite>时间轴</cite>
            <em>Timeline</em>
          </a>
        </li>
      </ul>
    </free-accordion>
  </free-accordion-group>
  <ul class="left-menu-item">
    <li fRipple>
      <a routerLink="changelog" routerLinkActive="active">
        <free-icon icon="history"></free-icon>
        <span class="accordion-toggle-title">更新日志</span>
      </a>
    </li>
  </ul>
</aside>
<div class="top-menu">
  <div class="aside-header">
    <div class="aside-header-inner">
      <ul>
        <li class="toggle-btn">
          <a (click)="toggleAside()" fRipple>
            <free-icon icon="navicon"></free-icon>
          </a>
        </li>
      </ul>
      <span class="top-logo-mini">F</span>
      <span class="top-logo">FreeNG</span>
    </div>
  </div>
  <nav class="navbar-header">
    <ul class="navbar-header-right pull-right">
      <li>
        <a class="color-white" (click)="toggleSearch()">
          <free-icon icon="search"></free-icon>
        </a>
      </li>
      <li>
        <a class="color-white" (click)="fullscreenToggle()">
          <free-icon icon="expand"></free-icon>
        </a>
      </li>
      <li class="nav-item">
        <a>
          <free-dropdown color="blue" [caret]="false" direction="bottom-right">
            <f-header>
              <free-icon icon="envelope"></free-icon>
              <free-badge content="9" [up]="true"></free-badge>
            </f-header>
            <free-list>
              <free-list-item>
                inBox
              </free-list-item>
              <free-list-item>
                inBox
              </free-list-item>
              <free-list-item>
                inBox
              </free-list-item>
              <free-list-item>
                inBox
              </free-list-item>
            </free-list>
          </free-dropdown>
        </a>
      </li>
      <li>
        <a class="color-white">
          <free-icon icon="bell"></free-icon>
          <free-badge content="1" [up]="true"></free-badge>
        </a>
      </li>
      <li class="nav-user">
        <free-dropdown direction="bottom-right" [menus]="dropdownItem" [caret]="false">
          <f-header><img src="assets/images/t_me.png"></f-header>
        </free-dropdown>
      </li>
    </ul>
  </nav>

  <div class="search-box" [class.open]="searchState">
    <div class="row middle-lg middle-md center-lg center-md center-xs">
      <div class="search-input">
        <free-icon icon="search"></free-icon>
        <input type="text" class="pull-center">
      </div>
      <free-icon icon="close" (click)="toggleSearch()" class="search-box-close"></free-icon>
    </div>
  </div>
</div>

<div class="theme-setting" #setting (click)="open($event)">
  <free-icon icon="cog" [spin]="true"></free-icon>
</div>

<main class="main-layout-container free-iscroll" #main>
  <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
</main>

<free-sidenav [visible]="sidebarActive" direction="right" (onChange)="sidenavChange($event)"
              [style]="{top: '60px'}" [overlay]="true">
  <h4>主题设置</h4>
  <div class="row">
    <ul class="theme-color-list">
      <li *ngFor="let t of theme" class="theme-color-item" title="{{t.name}}"
          (click)="selectTheme(t.name)" [ngStyle]="{background: t.color}">
      </li>
    </ul>
  </div>
</free-sidenav>
