.free-timeline {
  list-style: none;
  padding: 0;
  position: relative;
  &.free-timeline-line:before {
    top: 0;
    bottom: -35px;
    position: absolute;
    content: " ";
    width: 3px;
    left: 50%;
    margin-left: -1.5px;
    box-shadow: 0 1px 6px rgba(0,0,0,.175);
    background-color: #f3f3f3;
  }

  .free-timeline-node {
    position: relative;
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
  }

  .free-timeline-list {
    margin-bottom: 20px;
    position: relative;

    &.free-timeline-list-inverted {
      & > free-timeline-datetime .free-timeline-datetime {
        left: auto;
        right: 55%;
        text-align: right;
      }

      & > free-timeline-body .free-timeline-panel {
        float: right;

        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }

        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }

    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    .free-timeline-datetime {
      color: #737373;
      position: absolute;
      left: 55%;
      top: 6px;
      text-align: left;
      padding: 10px;
    }

    .free-timeline-badge {
      width: 50px;
      height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 6px;
      left: 50%;
      margin-left: -25px;
      background-image: linear-gradient(to bottom,#eee 0,#fbfbfb 100%);
      z-index: 100;
      -webkit-border-radius: 50%;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 50%;
      -moz-background-clip: padding;
      border-radius: 50%;
      background-clip: padding-box;
      box-shadow: 0 1px 6px rgba(0,0,0,.175);
      color: #444;

      i {
        line-height: 50px;
      }
    }

    .free-timeline-panel {
      background-color: #fbfbfb;
      -lh-property: 0;
      width: -webkit-calc(50% - 45px);
      width: -moz-calc(50% - 45px);
      width: calc(50% - 45px);
      float: left;
      border-radius: 2px;
      padding: .5rem;
      position: relative;
      border: 1px solid #e0e0e0!important;
      box-shadow: 0 6px 0 0 rgba(0,0,0,.01), 0 15px 32px 0 rgba(0,0,0,.06);

      &:before {
        position: absolute;
        top: 16px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #e5e5e5;
        border-right: 0 solid #e5e5e5;
        border-bottom: 15px solid transparent;
        content: " ";
      }

      &:after {
        position: absolute;
        top: 17px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fbfbfb;
        border-right: 0 solid #fbfbfb;
        border-bottom: 14px solid transparent;
        content: " ";
      }

      .free-timeline-header .free-timeline-title {
        display: block;
        padding: 10px 20px 0;
        min-width: 200px;
        font-size: 14px;
        font-weight: 700;
      }

      .free-timeline-header .free-timeline-datetime {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 13px;
        display: none;
      }

      .free-timeline-body {
        padding: 10px 20px 20px;
        line-height: 22px;
      }

    }

    .free-timeline-datetime .free-timeline-time, .free-timeline-datetime .free-timeline-date {
      display: block;
      font-size: 11px;
      line-height: 17px;
    }
    .free-timeline-datetime .free-timeline-time {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
    }

  }

  free-timeline-body {
    display: block;
    overflow: hidden;
  }

  .free-timeline-item {
    position: relative;
    padding-left: 1.6rem;
    padding-bottom: 1.5rem;

    h4 {
      position: relative;
      top: -.25rem;
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: .5rem;
    }

    &:before {
      content: "";
      position: absolute;
      left: .5rem;
      top: 0;
      width: 2px;
      height: 100%;
      background: #e9e9e9;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: .25rem;
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      background: #fff;
    }

    &.free-square:after {
      border-radius: 0;
    }
  }
}

