.free-toast {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20000;
  max-width: 80%;
  min-width: 7.5rem;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  padding: .25rem .5rem;
  border-radius: 3px;
  transition: all .3s .1s;

  &.free-toast-top {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    &.free-toast-open {
      transform: translate(-50%, .5rem);
    }
  }

  &.free-toast-bottom {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    &.free-toast-open {
      transform: translate(-50%, -.5rem);
    }
  }

  &.error {
    background: #f96868;
  }

  &.success {
    background: #46be8a;
  }

  &.warning {
    background: #fa9e0c;
  }
}

.free-toast-close {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .25rem;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: #000;
  }
}

