<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        加载组件是一个覆盖，可以防止用户在指示活动时进行交互，以显示任务的进度，或等待任务完成。
      </p>
      <ul class="free-ul-padding">
        <li>丰富的类型选择</li>
      </ul>
      <hr>
      <h3 class="free-head-title">API 选项</h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-loading</h3>
        <p>一个loading。</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>color</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>可选，用来设置Loading的样式(lightblue、green、yellow、red、blue)</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>type</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>可选，用来设置Loading的类型(circleLine、circleLineSpin、circleRoundFade、
                lineSquare、lineRound、lineBounce、circleSpin)</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-loading></free-loading>
            <free-loading type="circleLine"></free-loading>
            <free-loading type="circleLineSpin"></free-loading>
            <free-loading type="circleRoundFade"></free-loading>
            <free-loading type="lineSquare"></free-loading>
            <free-loading type="lineRound"></free-loading>
            <free-loading type="lineBounce"></free-loading>
            <free-loading type="circleSpin"></free-loading>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-loading&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleLine"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleLineSpin"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleRoundFade"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="lineSquare"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="lineRound"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="lineBounce"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleSpin"&gt;&lt;/free-loading&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-loading color="green"></free-loading>
            <free-loading type="circleLine" color="blue"></free-loading>
            <free-loading type="circleLineSpin" color="lightblue"></free-loading>
            <free-loading type="circleRoundFade" color="yellow"></free-loading>
            <free-loading type="lineSquare" color="red"></free-loading>
            <free-loading type="lineRound" color="purple"></free-loading>
            <free-loading type="lineBounce" color="brown"></free-loading>
            <free-loading type="circleSpin" color="pink"></free-loading>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-loading color="green"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleLine" color="blue"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleLineSpin" color="lightblue"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleRoundFade" color="yellow"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="lineSquare" color="red"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="lineRound" color="purple"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="lineBounce" color="brown"&gt;&lt;/free-loading&gt;
              &lt;free-loading type="circleSpin" color="pink"&gt;&lt;/free-loading&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
</div>
