<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        徽章是包含数字或文字的简单组件。
      </p>
      <hr>
      <h3 class="free-head-title">API 选项</h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-badge</h3>
        <p>单个小徽章。</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>content</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>小徽章内容</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>up</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否显示在右上角，默认为false</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <button fButton>
              小徽章
              <free-badge content="9"></free-badge>
            </button>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;button fButton&gt;
                小徽章
                &lt;free-badge content="9"&gt;&lt;/free-badge&gt;
              &lt;/button&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Icon</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <a style="padding: 0 10px;">
              <free-icon icon="bell"></free-icon>
              <free-badge content="1" [up]="true"></free-badge>
            </a>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;a&gt;
                &lt;free-icon icon="bell"&gt;&lt;/free-icon&gt;
                &lt;free-badge content="1" [up]="true"&gt;&lt;/free-badge&gt;
              &lt;/a&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>

</div>
