.free-loading {
  display: inline-flex;
  /*circle-line*/
  /*circle-line-spin*/
  /*circle-round*/
  /*line-square*/
  /*line-round*/
  /*line-bounce*/
  /*circle-spin*/ }
  .free-loading .loader {
    position: relative;
    width: 5rem;
    height: 5rem; }
  .free-loading .loader.small {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  .free-loading .loader.circle-line,
  .free-loading .loader.circle-round {
    height: 5rem; }
  .free-loading .loader.circle-line span {
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: .5rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background: #222222;
    opacity: .05;
    -webkit-animation: circle-line 1s ease infinite;
    animation: circle-line 1s ease infinite; }
  .free-loading .loader.circle-line span:nth-child(1) {
    top: 50%;
    left: 0;
    margin-top: -.25rem;
    -webkit-animation-delay: .13s;
    animation-delay: .13s; }
  .free-loading .loader.circle-line span:nth-child(2) {
    top: 1rem;
    left: .5rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-delay: .26s;
    animation-delay: .26s; }
  .free-loading .loader.circle-line span:nth-child(3) {
    left: 50%;
    top: .5rem;
    margin-left: -.75rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: .39s;
    animation-delay: .39s; }
  .free-loading .loader.circle-line span:nth-child(4) {
    right: .5rem;
    top: 1rem;
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    -webkit-animation-delay: .52s;
    animation-delay: .52s; }
  .free-loading .loader.circle-line span:nth-child(5) {
    left: 3.5rem;
    top: 50%;
    margin-top: -.25rem;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: .65s;
    animation-delay: .65s; }
  .free-loading .loader.circle-line span:nth-child(6) {
    bottom: 1rem;
    right: .5rem;
    -webkit-transform: rotate(-145deg);
    transform: rotate(-145deg);
    -webkit-animation-delay: .78s;
    animation-delay: .78s; }
  .free-loading .loader.circle-line span:nth-child(7) {
    left: 50%;
    bottom: .5rem;
    margin-left: -15px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation-delay: .91s;
    animation-delay: .91s; }
  .free-loading .loader.circle-line span:nth-child(8) {
    bottom: 1rem;
    left: .5rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation-delay: 1.04s;
    animation-delay: 1.04s; }
@keyframes circle-line {
  0% {
    opacity: .05; }
  100% {
    opacity: .7; } }
@-webkit-keyframes circle-line {
  0% {
    opacity: .05; }
  100% {
    opacity: .7; } }
  .free-loading .loader.circle-line-spin .circle-line-inner {
    width: 100%;
    height: 100%;
    -webkit-animation: circle-line-spin 1.5s linear infinite;
    animation: circle-line-spin 1.5s linear infinite; }
  .free-loading .loader.circle-line-spin span {
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: .5rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background: #222222;
    opacity: .7; }
  .free-loading .loader.circle-line-spin span:nth-child(1) {
    top: 50%;
    left: 0;
    margin-top: -.25rem; }
  .free-loading .loader.circle-line-spin span:nth-child(2) {
    top: 1rem;
    left: .5rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .free-loading .loader.circle-line-spin span:nth-child(3) {
    left: 50%;
    top: .5rem;
    margin-left: -.75rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .free-loading .loader.circle-line-spin span:nth-child(4) {
    right: .5rem;
    top: 1rem;
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg); }
  .free-loading .loader.circle-line-spin span:nth-child(5) {
    left: 3.5rem;
    top: 50%;
    margin-top: -.25rem;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .free-loading .loader.circle-line-spin span:nth-child(6) {
    bottom: 1rem;
    right: .5rem;
    -webkit-transform: rotate(-145deg);
    transform: rotate(-145deg); }
  .free-loading .loader.circle-line-spin span:nth-child(7) {
    left: 50%;
    bottom: .5rem;
    margin-left: -15px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .free-loading .loader.circle-line-spin span:nth-child(8) {
    bottom: 1rem;
    left: .5rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
@keyframes circle-line-spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes circle-line-spin {
  0% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg); } }
  .free-loading .loader.circle-round span {
    opacity: .05;
    -webkit-animation: circle-round 1s ease infinite;
    animation: circle-round 1s ease infinite; }
  .free-loading .loader.circle-round-fade span {
    -webkit-animation: circle-round-fade 1s ease infinite;
    animation: circle-round-fade 1s ease infinite; }
  .free-loading .loader.circle-round span,
  .free-loading .loader.circle-round-fade span {
    position: absolute;
    width: .8rem;
    height: .8rem;
    display: inline-block;
    border-radius: 50%;
    background: #222222; }
  .free-loading .loader.circle-round span:nth-child(1),
  .free-loading .loader.circle-round-fade span:nth-child(1) {
    top: 50%;
    left: 0;
    margin-top: -.4rem;
    -webkit-animation-delay: -1.04s;
    animation-delay: -1.04s; }
  .free-loading .loader.circle-round span:nth-child(2),
  .free-loading .loader.circle-round-fade span:nth-child(2) {
    top: .7rem;
    left: .7rem;
    -webkit-animation-delay: -.91s;
    animation-delay: -.91s; }
  .free-loading .loader.circle-round span:nth-child(3),
  .free-loading .loader.circle-round-fade span:nth-child(3) {
    top: 0;
    left: 50%;
    margin-left: -.4rem;
    -webkit-animation-delay: -.78s;
    animation-delay: -.78s; }
  .free-loading .loader.circle-round span:nth-child(4),
  .free-loading .loader.circle-round-fade span:nth-child(4) {
    right: .7rem;
    top: .7rem;
    -webkit-animation-delay: -.65s;
    animation-delay: -.65s; }
  .free-loading .loader.circle-round span:nth-child(5),
  .free-loading .loader.circle-round-fade span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -.4rem;
    -webkit-animation-delay: -.52s;
    animation-delay: -.52s; }
  .free-loading .loader.circle-round span:nth-child(6),
  .free-loading .loader.circle-round-fade span:nth-child(6) {
    bottom: .7rem;
    right: .7rem;
    -webkit-animation-delay: -.39s;
    animation-delay: -.39s; }
  .free-loading .loader.circle-round span:nth-child(7),
  .free-loading .loader.circle-round-fade span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -.4rem;
    -webkit-animation-delay: -.26s;
    animation-delay: -.26s; }
  .free-loading .loader.circle-round span:nth-child(8),
  .free-loading .loader.circle-round-fade span:nth-child(8) {
    left: .7rem;
    bottom: .7rem;
    -webkit-animation-delay: -.13s;
    animation-delay: -.13s; }
@keyframes circle-round {
  0% {
    opacity: .05; }
  100% {
    opacity: .7; } }
@-webkit-keyframes circle-round {
  0% {
    opacity: .05; }
  100% {
    opacity: .7; } }
@keyframes circle-round-fade {
  0% {
    opacity: .25;
    transform: scale(0.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@-webkit-keyframes circle-round-fade {
  0% {
    opacity: .25;
    transform: scale(0.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }
  .free-loading .loader.line-square {
    width: 6rem;
    height: .8rem; }
  .free-loading .loader.line-square span {
    position: absolute;
    top: 0;
    width: .8rem;
    height: .8rem;
    display: inline-block;
    background: #222222;
    -webkit-animation: line-square 1s ease infinite;
    animation: line-square 1s ease infinite; }
  .free-loading .loader.line-square span:nth-child(1) {
    left: 0;
    -webkit-animation-delay: .13s;
    animation-delay: .13s; }
  .free-loading .loader.line-square span:nth-child(2) {
    left: 1.3rem;
    -webkit-animation-delay: .26s;
    animation-delay: .26s; }
  .free-loading .loader.line-square span:nth-child(3) {
    left: 2.6rem;
    -webkit-animation-delay: .39s;
    animation-delay: .39s; }
  .free-loading .loader.line-square span:nth-child(4) {
    left: 3.9rem;
    -webkit-animation-delay: .52s;
    animation-delay: .52s; }
  .free-loading .loader.line-square span:nth-child(5) {
    left: 5.2rem;
    -webkit-animation-delay: .65s;
    animation-delay: .65s; }
@keyframes line-square {
  0% {
    opacity: 1;
    transform: scale(1.2);
    -webkit-transform: scale(1.2); }
  100% {
    opacity: .2;
    transform: scale(0.2);
    -webkit-transform: scale(0.2); } }
@-webkit-keyframes line-square {
  0% {
    opacity: 1;
    transform: scale(1.2);
    -webkit-transform: scale(1.2); }
  100% {
    opacity: .2;
    transform: scale(0.2);
    -webkit-transform: scale(0.2); } }
  .free-loading .loader.line-round {
    width: 6rem;
    height: .8rem; }
  .free-loading .loader.line-round span {
    position: absolute;
    top: 0;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    display: inline-block;
    background: #222222;
    -webkit-animation: line-round 1s ease infinite;
    animation: line-round 1s ease infinite; }
  .free-loading .loader.line-round span:nth-child(1) {
    left: 0;
    -webkit-animation-delay: .13s;
    animation-delay: .13s; }
  .free-loading .loader.line-round span:nth-child(2) {
    left: 1.3rem;
    -webkit-animation-delay: .26s;
    animation-delay: .26s; }
  .free-loading .loader.line-round span:nth-child(3) {
    left: 2.6rem;
    -webkit-animation-delay: .39s;
    animation-delay: .39s; }
  .free-loading .loader.line-round span:nth-child(4) {
    left: 3.9rem;
    -webkit-animation-delay: .52s;
    animation-delay: .52s; }
  .free-loading .loader.line-round span:nth-child(5) {
    left: 5.2rem;
    -webkit-animation-delay: .65s;
    animation-delay: .65s; }
@keyframes line-round {
  0% {
    opacity: 1;
    transform: scale(1.2);
    -webkit-transform: scale(1.2); }
  100% {
    opacity: .2;
    transform: scale(0.2);
    -webkit-transform: scale(0.2); } }
@-webkit-keyframes line-round {
  0% {
    opacity: 1;
    transform: scale(1.2);
    -webkit-transform: scale(1.2); }
  100% {
    opacity: .2;
    transform: scale(0.2);
    -webkit-transform: scale(0.2); } }
  .free-loading .loader.line-bounce {
    width: 6rem;
    height: 2.5rem; }
  .free-loading .loader.line-bounce span {
    position: absolute;
    top: 0;
    width: .5rem;
    height: 2.5rem;
    border-radius: 5px;
    display: inline-block;
    background: #222222;
    -webkit-animation: line-bounce 1s ease infinite;
    animation: line-bounce 1s ease infinite; }
  .free-loading .loader.line-bounce span:nth-child(1) {
    left: 0;
    -webkit-animation-delay: -.65s;
    animation-delay: -.65s; }
  .free-loading .loader.line-bounce span:nth-child(2) {
    left: 1.3rem;
    -webkit-animation-delay: -.78s;
    animation-delay: -.78s; }
  .free-loading .loader.line-bounce span:nth-child(3) {
    left: 2.6rem;
    -webkit-animation-delay: -.91s;
    animation-delay: -.91s; }
  .free-loading .loader.line-bounce span:nth-child(4) {
    left: 3.9rem;
    -webkit-animation-delay: -.78s;
    animation-delay: -78s; }
  .free-loading .loader.line-bounce span:nth-child(5) {
    left: 5.2rem;
    -webkit-animation-delay: -.65s;
    animation-delay: -.65s; }
@keyframes line-bounce {
  0% {
    transform: scaleY(1); }
  50% {
    transform: scaleY(0.3); }
  100% {
    transform: scaleY(1); } }
@-webkit-keyframes line-bounce {
  0% {
    -webkit-transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(0.3); }
  100% {
    -webkit-transform: scaleY(1); } }
  .free-loading .loader.circle-spin {
    border-radius: 50%;
    border: 0.2rem solid rgba(0, 0, 0, 0.05);
    width: 4rem;
    height: 4rem;
    box-sizing: content-box; }
  .free-loading .loader.circle-spin .loader-placeholder {
    position: absolute;
    top: -.2rem;
    left: -.2rem;
    border-radius: 50%;
    border: .2rem solid transparent;
    border-top: 0.2rem solid #222222;
    width: 4rem;
    height: 4rem;
    box-sizing: content-box;
    -webkit-animation: circle-spin 1s ease infinite;
    animation: circle-spin 1s ease infinite; }
@keyframes circle-spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes circle-spin {
  0% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg); } }
  .free-loading.free-primary .loader.circle-line span, .free-loading.free-primary .loader.circle-line-spin span, .free-loading.free-primary .loader.circle-round span, .free-loading.free-primary .loader.circle-round-fade span, .free-loading.free-primary .loader.line-square span, .free-loading.free-primary .loader.line-round span, .free-loading.free-primary .loader.line-bounce span {
    background: #177bbb !important; }
  .free-loading.free-primary .loader.circle-spin .loader-placeholder {
    border-top: 0.2rem solid #177bbb !important; }
  .free-loading.free-info .loader.circle-line span, .free-loading.free-info .loader.circle-line-spin span, .free-loading.free-info .loader.circle-round span, .free-loading.free-info .loader.circle-round-fade span, .free-loading.free-info .loader.line-square span, .free-loading.free-info .loader.line-round span, .free-loading.free-info .loader.line-bounce span {
    background: #1ccacc !important; }
  .free-loading.free-info .loader.circle-spin .loader-placeholder {
    border-top: 0.2rem solid #1ccacc !important; }
  .free-loading.free-success .loader.circle-line span, .free-loading.free-success .loader.circle-line-spin span, .free-loading.free-success .loader.circle-round span, .free-loading.free-success .loader.circle-round-fade span, .free-loading.free-success .loader.line-square span, .free-loading.free-success .loader.line-round span, .free-loading.free-success .loader.line-bounce span {
    background: #1aae88 !important; }
  .free-loading.free-success .loader.circle-spin .loader-placeholder {
    border-top: 0.2rem solid #1aae88 !important; }
  .free-loading.free-warning .loader.circle-line span, .free-loading.free-warning .loader.circle-line-spin span, .free-loading.free-warning .loader.circle-round span, .free-loading.free-warning .loader.circle-round-fade span, .free-loading.free-warning .loader.line-square span, .free-loading.free-warning .loader.line-round span, .free-loading.free-warning .loader.line-bounce span {
    background: #fbb23e !important; }
  .free-loading.free-warning .loader.circle-spin .loader-placeholder {
    border-top: 0.2rem solid #fbb23e !important; }
  .free-loading.free-danger .loader.circle-line span, .free-loading.free-danger .loader.circle-line-spin span, .free-loading.free-danger .loader.circle-round span, .free-loading.free-danger .loader.circle-round-fade span, .free-loading.free-danger .loader.line-square span, .free-loading.free-danger .loader.line-round span, .free-loading.free-danger .loader.line-bounce span {
    background: #e33244 !important; }
  .free-loading.free-danger .loader.circle-spin .loader-placeholder {
    border-top: 0.2rem solid #e33244 !important; }

/*# sourceMappingURL=loading.component.css.map */
