<div class="main-container">
  <div class="row">
    <div fGrid="12">
      <p style="padding-left: 1rem;">
        {{'DEMO.EDITOR.DESCRIPTION' | translate}}
      </p>
      <hr>
    </div>
    <div class="free-demo-board" fGrid="12">
      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <div style="height: 400px">
              <free-editor (onUploadCompleted)="onUploadCompleted($event)" [style]="{width: 900}" [(ngModel)]="text" [counter]="true"></free-editor>
            </div>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-editor [style]="&#123;width: 900&#125;" [(ngModel)]="text" [counter]="true"&gt;&lt;/free-editor&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
    <div class="free-demo-board" fGrid="12">
      <div class="free-card-board">
        <h3 class="free-toolbar">Import</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="CODE">
            <free-code lang="typescript">
              import &#123;EditorModule&#125; from 'freeng/freeng';
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <h3 class="free-head-title">{{'API-OPTION' | translate}}<span class="symbol component"></span></h3>
      <div class="free-demo-row">
        <h3 class="free-title">free-editor</h3>
        <p>{{'COMPONENT.EDITOR' | translate}}</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head><ng-template>{{'PROPERTY' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'TYPE' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'DESCRIPTION' | translate}}</ng-template></free-table-head>
            </free-table-row>
          </free-table-header>
          <free-table-body>
            <free-table-row>
              <free-table-cell>toolbar</free-table-cell>
              <free-table-cell>
                <ng-template><code>boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.EDITOR.OPTION.0' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>buttons</free-table-cell>
              <free-table-cell>
                <ng-template><code>Array</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>
                  {{'DEMO.EDITOR.OPTION.1' | translate}}
                  (bold/italic/underline/strikethrough/subscript/superscript/
                  heading/fontSize/foreColor/backColor/align/insertOrderedList/
                  insertUnorderedList/blockquote/table/createLink/insertImage/emotion/
                  fullscreen/undo/redo)
                </ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>maxHeight</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.EDITOR.OPTION.2' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>counter</free-table-cell>
              <free-table-cell>
                <ng-template><code>boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.EDITOR.OPTION.3' | translate}}</ng-template></free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>style</free-table-cell>
              <free-table-cell>
                <ng-template><code>object</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.EDITOR.OPTION.4' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>

      <div class="free-demo-row">
        <h3 class="free-title">{{'EVENT' | translate}}</h3>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head><ng-template>{{'EVENT' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'TYPE' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'DESCRIPTION' | translate}}</ng-template></free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>onUploadCompleted</free-table-cell>
              <free-table-cell>
                <ng-template>
                  <code>Function</code>
                </ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>
                  {{'DEMO.EDITOR.EVENTS.0' | translate}}
                  <code>&#123;files: FileList, url: String&#125;</code>
                </ng-template>
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>
  </div>
  <blockquote>FreeNG - {{'MOTTO' | translate}}</blockquote>
</div>

