<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        折叠面板能有效地节省页面的可视面积。
      </p>
      <hr>
      <h3 class="free-head-title">API 选项</h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-accordion-group</h3>
        <p>折叠面板组</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>closeOthers</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否开启手风琴效果，默认为false，可选</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
      <div class="free-demo-row">
        <h3 class="free-title">free-accordion</h3>
        <p>单个折叠面板元素</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>header</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>折叠面板的开关(标题)，可选</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>

      <div class="free-demo-row">
        <h3 class="free-title">f-header</h3>
        <p>用来展开／折叠折叠面板元素内容的开关，可选</p>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">折叠面板</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-accordion-group>
              <free-accordion header="标题">
                FreeNG是一个基于Angular2+4的UI主题框架
              </free-accordion>
              <free-accordion header="标题">
                FreeNG是一个基于Angular2+4的UI主题框架
              </free-accordion>
              <free-accordion header="标题">
                FreeNG是一个基于Angular2+4的UI主题框架
              </free-accordion>
            </free-accordion-group>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-accordion-group&gt;
                &lt;free-accordion header="标题"&gt;
                  FreeNG是一个基于Angular2+4的UI主题框架
                &lt;/free-accordion&gt;
                &lt;free-accordion header="标题"&gt;
                  FreeNG是一个基于Angular2+4的UI主题框架
                &lt;/free-accordion&gt;
                &lt;free-accordion header="标题"&gt;
                  FreeNG是一个基于Angular2+4的UI主题框架
                &lt;/free-accordion&gt;
              &lt;/free-accordion-group&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">手风琴</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-accordion-group [closeOthers]="true">
              <free-accordion header="标题">
                FreeNG是一个基于Angular2+4的UI主题框架
              </free-accordion>
              <free-accordion header="标题">
                FreeNG是一个基于Angular2+4的UI主题框架
              </free-accordion>
              <free-accordion header="标题">
                FreeNG是一个基于Angular2+4的UI主题框架
              </free-accordion>
            </free-accordion-group>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-accordion-group [closeOthers]="true"&gt;
                &lt;free-accordion header="标题"&gt;
                  FreeNG是一个基于Angular2+4的UI主题框架
                &lt;/free-accordion&gt;
                &lt;free-accordion header="标题"&gt;
                  FreeNG是一个基于Angular2+4的UI主题框架
                &lt;/free-accordion&gt;
                &lt;free-accordion header="标题"&gt;
                  FreeNG是一个基于Angular2+4的UI主题框架
                &lt;/free-accordion&gt;
              &lt;/free-accordion-group&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>

  </div>
</div>
