.free-scroll {
  position: relative;
  overflow: hidden;

  .free-scroll-scrollbar {
    position: absolute;
    width: 7px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    overflow: hidden;
    z-index: 101;
    transition: .2s;
    opacity: 0;
  }

  .free-scroll-wrapper {
    position: relative;
  }

  .free-scroll-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-radius: 2px;
    background: rgba(255, 255, 255, .4);
  }
}
