@import "../assets/sass/variables";
@import "../assets/sass/mixin";

.free-main {
  height: 100%;
}

:host /deep/ {
  .left-menu {
    background: #fff !important;
    box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
    z-index: 100;

    li a em {
      color: #666;
    }

    .left-menu-item li a,
    .accordion-toggle,
    .accordion-inner ul li > a {
      color: #262626;
    }
  }

  .top-menu {
    .hamburge-line span,
    .navbar-header .search-form {
      background: #fff;
    }

    button {
      background: transparent;
      color: #fff !important;
    }
  }

  .free-scroll-thumb {
    background: rgba(0, 0, 0, 0.298039);
  }

  .aside-header li a {
    color: #fff;
  }

  .free-theme-setting {
    box-shadow: 0 0 .5rem #fff;
  }

  .navbar-header .navbar-header-right {

    .free-dropdown-header {
      &.active,
      &:active,
      &:hover {
        background: transparent !important;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, .1);
        }
      }
    }
  }

  .free-panel-inner h4 {
    padding: 10px 0;
  }
}

:host-context(.free-mini) /deep/ {

  .main-layout-container {
    left: $leftMenuWidthOfMini;
  }

  .left-menu {
    .accordion-item .accordion-toggle i {
      padding-right: 0 !important;
    }

    .accordion-toggle:hover + .accordion-content {
      @include position(absolute, 0, $left: 45px);
      height: auto;
    }
  }

  .aside-header {
    width: $leftMenuWidthOfMini;
  }

  .aside-header-inner {
    & > span {

      &.top-logo-mini {
        display: block;
      }

      &.top-logo {
        display: none;
      }
    }
  }
  .main-layout-container {
    left: 0 !important;
  }

  .left-menu {
    left: -#{$leftMenuWidth} !important;
  }

  .aside-header-inner {
    & > span {

      &.top-logo-mini {
        display: none !important;
      }

      &.top-logo {
        display: block !important;
      }
    }
  }
}
