:host /deep/ .free-error-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  :host /deep/ .free-error-page:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #EDECEC; }
  :host /deep/ .free-error-page .free-error-board {
    background: #00bcd4;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    color: #fff;
    text-align: center;
    padding: 15px;
    height: 300px;
    width: 500px;
    left: 50%;
    margin-left: -250px; }
    :host /deep/ .free-error-page .free-error-board h2 {
      line-height: 100%;
      color: #fff;
      font-weight: 100;
      font-size: 6rem; }
    :host /deep/ .free-error-page .free-error-board footer {
      background: rgba(0, 0, 0, 0.13);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: center; }
      :host /deep/ .free-error-page .free-error-board footer free-icon {
        display: inline-block;
        color: #FFF;
        margin: 0 3px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.09);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms; }
        :host /deep/ .free-error-page .free-error-board footer free-icon:hover {
          background: rgba(0, 0, 0, 0.2); }
  :host /deep/ .free-error-page .free-error-intro {
    overflow: hidden;
    white-space: nowrap; }

:host-context(.free-theme-green) /deep/ .free-error-page .free-error-board {
  background: #46be8a; }

:host-context(.free-theme-deepblue) /deep/ .free-error-page .free-error-board {
  background: #115d8e; }

:host-context(.free-theme-blue) /deep/ .free-error-page .free-error-board {
  background: #677ae4; }

:host-context(.free-theme-lightblue) /deep/ .free-error-page .free-error-board {
  background: #169e9f; }

:host-context(.free-theme-yellow) /deep/ .free-error-page .free-error-board {
  background: #fa9e0c; }

:host-context(.free-theme-red) /deep/ .free-error-page .free-error-board {
  background: #f96868; }

:host-context(.free-theme-purple) /deep/ .free-error-page .free-error-board {
  background: #6633B9; }

:host-context(.free-theme-orange) /deep/ .free-error-page .free-error-board {
  background: #f2a654; }

:host-context(.free-theme-brown) /deep/ .free-error-page .free-error-board {
  background: #8d6658; }

:host-context(.free-theme-cyan) /deep/ .free-error-page .free-error-board {
  background: #57c7d4; }

:host-context(.free-theme-pink) /deep/ .free-error-page .free-error-board {
  background: #f96197; }

:host-context(.free-theme-teal) /deep/ .free-error-page .free-error-board {
  background: #3aa99e; }

:host-context(.free-theme-dark) /deep/ .free-error-page .free-error-board {
  background: #393D49; }

/*# sourceMappingURL=main-error.component.css.map */
