<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        滚动是一个非灵活的滚动区域，可以水平或垂直滚动。
        ion-Scroll可以在不需要全页滚动条的地方使用，但可以使用高度自定义的滚动条，例如图像粗细或注释滚动条。
      </p>
      <hr>
    </div>
    <div fGrid="6" class="free-demo-board">
      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <free-scroll [scrollClass]="'test-scroll'">
              NavController is the base class for navigation controller component like Nav and Tab. You use navigation controllers to navigate to pages in your app. At a basic level, a navigation controller is an array of pages representing a particular history (of a Tab for example). This array can be manipulated to navigate throughout an app by pushing and popping pages or inserting and removing them at arbitrary locations in history.

              The current page is the last one in the array, or the top of the stack if we think of it that way. Pushing a new page onto the top of the navigation stack causes the new page to be animated in, while popping the current page will navigate to the previous page in the stack.

              Unless you are using a directive like NavPush, or need a specific NavController, most times you will inject and use a reference to the nearest NavController to manipulate the navigation stack.
            </free-scroll>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-chip-group [chips]="animals"&gt;&lt;/free-chip-group&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
</div>
