:host /deep/ {
  free-scroll {
    display: block;
    border: 1px solid #d9d9d9;
    padding: 10px;
  }

  .free-scroll-inner {
    padding: 10px;
  }

  .custom-scroll-thumb {
    background: #d0b9a0 !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

  .custom-scroll-track {
    width: 2px !important;
    left: 50% !important;
    transform: translate(-50%, 0);
  }
}
