<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        范围控件允许用户通过沿滑杆或轨道移动滑块旋钮从一系列值中进行选择。
      </p>
      <h3 class="free-head-title">API 选项</h3>
      <div class="free-demo-row">
        <h3 class="free-title">free-range</h3>
        <p>必选，类似HTML的table，一个free-table对应一个table。</p>
      </div>
    </div>
    <div fGrid="6" class="free-demo-board">
      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <div class="box-shadow free-shadow-1dp">1dp</div>
            <div class="box-shadow free-shadow-2dp">2dp</div>
            <div class="box-shadow free-shadow-3dp">3dp</div>
            <div class="box-shadow free-shadow-4dp">4dp</div>
            <div class="box-shadow free-shadow-5dp">5dp</div>
            <div class="box-shadow free-shadow-6dp">6dp</div>
            <div class="box-shadow free-shadow-7dp">7dp</div>
            <div class="box-shadow free-shadow-8dp">8dp</div>
            <div class="box-shadow free-shadow-9dp">9dp</div>
            <div class="box-shadow free-shadow-10dp">10dp</div>
            <div class="box-shadow free-shadow-11dp">11dp</div>
            <div class="box-shadow free-shadow-12dp">12dp</div>
            <div class="box-shadow free-shadow-13dp">13dp</div>
            <div class="box-shadow free-shadow-14dp">14dp</div>
            <div class="box-shadow free-shadow-15dp">15dp</div>
            <div class="box-shadow free-shadow-16dp">16dp</div>
            <div class="box-shadow free-shadow-17dp">17dp</div>
            <div class="box-shadow free-shadow-18dp">18dp</div>
            <div class="box-shadow free-shadow-19dp">19dp</div>
            <div class="box-shadow free-shadow-20dp">20dp</div>
            <div class="box-shadow free-shadow-21dp">21dp</div>
            <div class="box-shadow free-shadow-22dp">22dp</div>
            <div class="box-shadow free-shadow-23dp">23dp</div>
            <div class="box-shadow free-shadow-24dp">24dp</div>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-chip [value]="'chip'"&gt;&lt;/free-chip&gt;
              &lt;free-chip [value]="'chip'"&gt;&lt;/free-chip&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
</div>
