@import "../../../assets/sass/mixin";
.free-dropdown {
  position: relative;
  display: inline-flex;

  .btn {
    margin: 0;
    width: 100%;
  }

  .free-dropdown-wrapper {
    padding: .5rem;
    width: 100%;
  }

  .d-caret{
    padding-left: .2rem;
  }

  .free-dropdown-menu {
    position: absolute;
    opacity: 0;
    min-width: 7rem;
    background: #fff;
    border-radius: 2px;
    transform: scale(0);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    z-index: 999;
    transition: all .25s cubic-bezier(0.23, 1, 0.32, 1);

    ul {
      margin: 0;
      padding: 0;
    }

    ul li {
      list-style: none;
      cursor: pointer;
      white-space: nowrap;
      transition: all .3s;

      i {
        padding-right: .5rem;
      }

      &:hover {
        background: #f3f3f3;
      }

      a {
        position: relative;
        display: block;
        color: #333;
        padding: .25rem .6rem;
        width: 100%;

        .free-dropdown-badge {
          position: absolute;
          right: 6px;
          top: 50%;
          transform: translate(0, -50%);
          padding: 3px 4px;
          font-size: .5rem;
          line-height: 12px;
          border-radius: 3px;
          background-color: #f44336;
          color: #fff;
          margin-left: 3px;
        }
      }
    }

    &.free-dropdown-bottom-left,
    &.free-dropdown-bottom-right {
      top: 100%;
    }

    &.free-dropdown-bottom-left {
      left: 0;
      transform-origin: left top 0px;
    }

    &.free-dropdown-bottom-right {
      right: 0;
      transform-origin: right top 0px;
    }

  }

  .free-dropdown-header,
  .free-dropdown-header f-header{
    display: inline-flex;
    align-items: center;
  }

  .free-dropdown-header {
    cursor: pointer;
  }

  .free-dropdown-header header{
    font-weight:bold;
    font-size: .75rem;

    img {
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      margin-right: .2rem;
    }
  }
}



