.free-tab-group {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }
  .free-tab-group ul.free-tab-navs {
    background: #fff;
    border-bottom: 1px solid #d9d9d9; }
    .free-tab-group ul.free-tab-navs li span {
      color: #333; }
  .free-tab-group .free-tab-nav.active span {
    font-weight: bold; }
    .free-tab-group .free-tab-nav.active span:after {
      transform: scale(1); }
  .free-tab-group .free-tab-nav span:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #115d8e;
    transform: scale(0);
    transition: all .3s; }
  .free-tab-group.theme-block ul.free-tab-navs {
    background: #115d8e;
    border: none; }
    .free-tab-group.theme-block ul.free-tab-navs li span {
      color: #fff; }
  .free-tab-group.theme-block .free-tab-nav span:after {
    height: 0; }
  .free-tab-group ul.free-tab-navs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: .2rem .2rem 0;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .free-tab-group.free-tab-right > free-tab-nav > ul.free-tab-navs {
    justify-content: flex-end; }
  .free-tab-group.free-tab-center > free-tab-nav > ul.free-tab-navs {
    justify-content: center; }
  .free-tab-group ul.free-tab-navs:after {
    display: table;
    content: '';
    clear: both; }
  .free-tab-group ul.free-tab-navs > li.free-tab-nav {
    list-style: none;
    cursor: pointer; }
    .free-tab-group ul.free-tab-navs > li.free-tab-nav span {
      position: relative;
      display: inline-block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: .25rem 1rem; }
    .free-tab-group ul.free-tab-navs > li.free-tab-nav.free-tab-disabled {
      cursor: default !important;
      opacity: .7; }
  .free-tab-group .free-tab-box {
    position: relative;
    overflow: hidden; }
    .free-tab-group .free-tab-box:after {
      display: table;
      content: '';
      clear: both; }
    .free-tab-group .free-tab-box free-tab {
      width: 100%;
      flex-shrink: 0;
      border-top: 0; }
    .free-tab-group .free-tab-box .free-tab {
      display: none; }
      .free-tab-group .free-tab-box .free-tab .free-tab-wrapper {
        width: 100%;
        background: #fff;
        padding: .75rem; }
      .free-tab-group .free-tab-box .free-tab.free-iscroll {
        overflow: hidden;
        overflow-y: auto; }
      .free-tab-group .free-tab-box .free-tab.active {
        display: block; }
  .free-tab-group.free-tab-vertical {
    display: flex;
    box-shadow: none; }
    .free-tab-group.free-tab-vertical.free-tab-right free-tab-nav {
      order: 2; }
      .free-tab-group.free-tab-vertical.free-tab-right free-tab-nav ul {
        border: 1px solid #d9d9d9;
        border-left: none; }
        .free-tab-group.free-tab-vertical.free-tab-right free-tab-nav ul > li.active span:after {
          background: #fff;
          bottom: 0;
          top: 0;
          left: -2px;
          right: auto;
          width: 4px;
          height: 100%;
          z-index: 1; }
    .free-tab-group.free-tab-vertical free-tab-nav ul {
      flex-direction: column;
      border: 1px solid #d9d9d9;
      border-right: none;
      border-radius: 0px;
      padding: 0 !important; }
      .free-tab-group.free-tab-vertical free-tab-nav ul > li {
        line-height: 30px;
        min-width: 60px;
        border-bottom: 1px solid #d9d9d9; }
        .free-tab-group.free-tab-vertical free-tab-nav ul > li:last-child {
          border-bottom: none; }
        .free-tab-group.free-tab-vertical free-tab-nav ul > li.active span {
          color: #222;
          margin: 0 -1px 0 0;
          background: #fff; }
          .free-tab-group.free-tab-vertical free-tab-nav ul > li.active span:after {
            background: #fff;
            bottom: 0;
            top: 0;
            left: auto;
            right: -2px;
            width: 4px;
            height: 100%;
            z-index: 1; }
        .free-tab-group.free-tab-vertical free-tab-nav ul > li > span {
          width: 100%;
          color: #777;
          white-space: nowrap;
          padding: .25rem .75rem !important; }
          .free-tab-group.free-tab-vertical free-tab-nav ul > li > span:after {
            transition: none; }
    .free-tab-group.free-tab-vertical .free-tab-box {
      border: 1px solid #d9d9d9; }

/*# sourceMappingURL=tab.component.css.map */
