@import "../../../assets/sass/mixin";
@import "../../../assets/sass/variables";

$theme: theme-line, theme-block;

.free-tab-group {
  @each $type in $theme {
    @if $type == 'theme-block' {
      &.#{$type} {
        ul.free-tab-navs {
          background: $default;
          border: none;
          li span {
            color: #fff;
          }
        }

        .free-tab-nav span:after {
          height: 0;
        }
      }
    } @else {
      ul.free-tab-navs {
        background: #fff;
        border-bottom: 1px solid #d9d9d9;
        li span {
          color: #333;
        }
      }

      .free-tab-nav.active span {
        font-weight: bold;
        &:after {
          transform: scale(1);
        }
      }
      .free-tab-nav span:after {
        position: absolute;
        bottom: -1px;
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background: $default;
        transform: scale(0);
        transition: all .3s;
      }
    }
  }

  @include boxShadow;

  ul.free-tab-navs {
    @include flexbox;
    padding: .2rem .2rem 0;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &.free-tab-right > free-tab-nav > ul.free-tab-navs {
    justify-content: flex-end
  }

  &.free-tab-center > free-tab-nav > ul.free-tab-navs {
    justify-content: center
  }

  ul.free-tab-navs {
    &:after {
      display: table;
      content: '';
      clear: both;
    }
    & > li.free-tab-nav {
      list-style: none;
      cursor: pointer;
      span {
        position: relative;
        display: inline-block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: .25rem 1rem;
      }

      &.free-tab-disabled {
        cursor: default !important;
        opacity: .7;
      }
    }
  }

  .free-tab-box {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    &:after {
      display: table;
      content: '';
      clear: both;
    }

    free-tab {
      width: 100%;
      flex-shrink: 0;
      border-top: 0;
    }

    .free-tab {
      width: 100%;
      background: #fff;
      display: none;
      padding: .75rem;
      &.active {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
.free-iscroll {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: 1px solid #333;
  }
  &::-webkit-scrollbar-corner, &::-webkit-scrollbar-track {
    background-color: #ccc;
  }
}

