.free-switch {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between; }
  .free-switch input {
    display: none; }
  .free-switch input[type='checkbox']:checked + .free-switch-media .switch-label {
    background: #1ABC9C; }
    .free-switch input[type='checkbox']:checked + .free-switch-media .switch-label:after {
      background: #1ABC9C;
      -webkit-transform: translate3d(1rem, 0, 0);
      transform: translate3d(1rem, 0, 0); }
  .free-switch .free-switch-inner {
    -webkit-flex: 1;
    flex: 1;
    padding: 0.5rem;
    order: 3; }
  .free-switch .switch-label {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 999px;
    background: #aaa;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
    .free-switch .switch-label:before, .free-switch .switch-label:after {
      content: '';
      position: absolute;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
    .free-switch .switch-label:after {
      top: 4px;
      left: 4px;
      bottom: 4px;
      width: 1.1rem;
      background: #aaa;
      border-radius: 50%;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .free-switch .switch-label:before {
      background: #fff;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 999px; }
  .free-switch .free-switch-media {
    -webkit-order: 2;
    order: 2;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 3px; }
  .free-switch.free-switch-2 .switch-label {
    width: 2rem;
    background: #fff; }
    .free-switch.free-switch-2 .switch-label:before {
      background: #bdbdbd;
      top: 0.45rem;
      bottom: 0.45rem;
      left: 0;
      right: 0; }
    .free-switch.free-switch-2 .switch-label:after {
      background: whitesmoke;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
      left: 0; }
  .free-switch.free-switch-2 input[type='checkbox']:checked + .free-switch-media .switch-label {
    background: #fff; }
    .free-switch.free-switch-2 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
      background: #1ABC9C; }
    .free-switch.free-switch-2 input[type='checkbox']:checked + .free-switch-media .switch-label:after {
      background: #fff;
      -webkit-transform: translate3d(1rem, 0, 0);
      transform: translate3d(1rem, 0, 0); }
  .free-switch.free-switch-3 .switch-label {
    background: #fff; }
    .free-switch.free-switch-3 .switch-label:before {
      background: transparent;
      border: solid 2px #e6e6e6;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .free-switch.free-switch-3 .switch-label:after {
      background: #fff;
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15); }
  .free-switch.free-switch-3 input[type='checkbox']:checked + .free-switch-media .switch-label:after {
    background: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15); }
  .free-switch.free-switch-3 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    border-color: #1ABC9C; }
  .free-switch.free-primary input[type='checkbox']:checked + .free-switch-media .switch-label {
    background: #177bbb; }
    .free-switch.free-primary input[type='checkbox']:checked + .free-switch-media .switch-label:after {
      background: #177bbb; }
  .free-switch.free-primary.free-switch-2 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    background: #177bbb; }
  .free-switch.free-primary.free-switch-3 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    border-color: #177bbb; }
  .free-switch.free-info input[type='checkbox']:checked + .free-switch-media .switch-label {
    background: #1ccacc; }
    .free-switch.free-info input[type='checkbox']:checked + .free-switch-media .switch-label:after {
      background: #1ccacc; }
  .free-switch.free-info.free-switch-2 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    background: #1ccacc; }
  .free-switch.free-info.free-switch-3 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    border-color: #1ccacc; }
  .free-switch.free-success input[type='checkbox']:checked + .free-switch-media .switch-label {
    background: #1aae88; }
    .free-switch.free-success input[type='checkbox']:checked + .free-switch-media .switch-label:after {
      background: #1aae88; }
  .free-switch.free-success.free-switch-2 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    background: #1aae88; }
  .free-switch.free-success.free-switch-3 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    border-color: #1aae88; }
  .free-switch.free-warning input[type='checkbox']:checked + .free-switch-media .switch-label {
    background: #fbb23e; }
    .free-switch.free-warning input[type='checkbox']:checked + .free-switch-media .switch-label:after {
      background: #fbb23e; }
  .free-switch.free-warning.free-switch-2 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    background: #fbb23e; }
  .free-switch.free-warning.free-switch-3 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    border-color: #fbb23e; }
  .free-switch.free-danger input[type='checkbox']:checked + .free-switch-media .switch-label {
    background: #e33244; }
    .free-switch.free-danger input[type='checkbox']:checked + .free-switch-media .switch-label:after {
      background: #e33244; }
  .free-switch.free-danger.free-switch-2 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    background: #e33244; }
  .free-switch.free-danger.free-switch-3 input[type='checkbox']:checked + .free-switch-media .switch-label:before {
    border-color: #e33244; }
  .free-switch input[type='checkbox']:disabled + .free-switch-media .switch-label {
    background: rgba(170, 170, 170, 0.4) !important; }
    .free-switch input[type='checkbox']:disabled + .free-switch-media .switch-label:after {
      background: rgba(170, 170, 170, 0.4) !important; }

/*# sourceMappingURL=switch.component.css.map */
