<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        全屏切换一般用于宣传页面。
      </p>
      <hr>
      <h3 class="free-head-title">API 选项<span class="symbol component"></span></h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-fullpage</h3>
        <p>全屏滚动容器</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>
          <free-table-body>
            <free-table-row>
              <free-table-cell>pagination</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>是否显示分页器，默认为false，可选</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>paginationClickable</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>分页器是否可点击，默认为false，可选</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>

      <div class="free-demo-row">
        <h3 class="free-title">free-fullpage-slide</h3>
        <p>全屏滚动容器的子组件，需要展示的内容都填进子组件中。</p>
      </div>
    </div>

    <div fGrid="6" class="free-demo-board">
      <div class="free-card-board">
        <h3 class="free-toolbar">Import</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="CODE">
            <free-code lang="typescript">
              import &#123;FullpageModule&#125; from 'freeng/freeng';
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">DEFAULT</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="PREVIEW">
            <a fButton [href]="'/#/review-fullpage'" target="_blank">全屏切换</a>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-fullpage [pagination]="true" [paginationClickable]="true"&gt;
                &lt;free-fullpage-slide&gt;
                  &lt;div class="fullpage fullpage1"&gt;&lt;/div&gt;
                &lt;/free-fullpage-slide&gt;
                &lt;free-fullpage-slide&gt;
                  &lt;div class="fullpage fullpage2"&gt;&lt;/div&gt;
                &lt;/free-fullpage-slide&gt;
                &lt;free-fullpage-slide&gt;
                  &lt;div class="fullpage fullpage3"&gt;&lt;/div&gt;
                &lt;/free-fullpage-slide&gt;
                &lt;free-fullpage-slide&gt;
                  &lt;div class="fullpage fullpage4"&gt;&lt;/div&gt;
                &lt;/free-fullpage-slide&gt;
              &lt;/free-fullpage&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>

  </div>
  <blockquote>FreeNG - 用心做好每一步</blockquote>
</div>
