:host /deep/ {

  .fullpage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fullpage1 {
    background-image: url("../../../assets/Images/f1.jpg");
  }

  .fullpage2 {
    background-image: url("../../../assets/Images/f2.jpg");
  }

  .fullpage3 {
    background-image: url("../../../assets/Images/f3.jpg");
  }

  .fullpage4 {
    background-image: url("../../../assets/Images/f4.jpg");
  }
}
