<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <div [innerHTML]="'DEMO.PROGRESS.DESCRIPTION' | translate"></div>
      <hr>
      <h3 class="free-head-title">{{'API-OPTION' | translate}}<span class="symbol component"></span></h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-progress</h3>
        <p>{{'COMPONENT.PROGRESS' | translate}}</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head><ng-template>{{'PROPERTY' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'TYPE' | translate}}</ng-template></free-table-head>
              <free-table-head><ng-template>{{'DESCRIPTION' | translate}}</ng-template></free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>value</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.PROGRESS.OPTION.0' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>striped</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.PROGRESS.OPTION.1' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>theme</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>
                  {{'DEMO.PROGRESS.OPTION.2' | translate}}
                  (primary/info/success/warning/danger)
                </ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>move</free-table-cell>
              <free-table-cell>
                <ng-template><code>Boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.PROGRESS.OPTION.3' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>barColor</free-table-cell>
              <free-table-cell>
                <ng-template><code>string</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.PROGRESS.OPTION.4' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>trackColor</free-table-cell>
              <free-table-cell>
                <ng-template><code>string</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.PROGRESS.OPTION.5' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>showValue</free-table-cell>
              <free-table-cell>
                <ng-template><code>boolean</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                <ng-template>{{'DEMO.PROGRESS.OPTION.6' | translate}}</ng-template>
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">Import</h3>
        <free-tab-group direction="right" theme="line">
          <free-tab header="CODE">
            <free-code lang="typescript">
              import &#123;ProgressModule&#125; from 'freeng/freeng';
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-progress value="40%" [showValue]="true"></free-progress>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-progress value="40%"&gt;&lt;/free-progress&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Theme</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-progress theme="primary" value="70%"></free-progress>
            <free-progress theme="info" value="70%"></free-progress>
            <free-progress theme="success" value="70%"></free-progress>
            <free-progress theme="warning" value="70%"></free-progress>
            <free-progress theme="danger" value="70%"></free-progress>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-progress theme="primary" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress theme="info" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress theme="success" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress theme="warning" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress theme="danger" value="70%"&gt;&lt;/free-progress&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Striped</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-progress  [striped]="true" theme="primary" value="70%"></free-progress>
            <free-progress  [striped]="true" theme="info" value="70%"></free-progress>
            <free-progress  [striped]="true" theme="success" value="70%"></free-progress>
            <free-progress  [striped]="true" theme="warning" value="70%"></free-progress>
            <free-progress  [striped]="true" theme="danger" value="70%"></free-progress>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-progress [striped]="true" theme="primary" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress [striped]="true" theme="info" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress [striped]="true" theme="success" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress [striped]="true" theme="warning" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress [striped]="true" theme="danger" value="70%"&gt;&lt;/free-progress&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Move</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-progress  [striped]="true" [move]="true" theme="primary" value="70%"></free-progress>
            <free-progress  [striped]="true" [move]="true" theme="info" value="70%"></free-progress>
            <free-progress  [striped]="true" [move]="true" theme="success" value="70%"></free-progress>
            <free-progress  [striped]="true" [move]="true" theme="warning" value="70%"></free-progress>
            <free-progress  [striped]="true" [move]="true" theme="danger" value="70%"></free-progress>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-progress [striped]="true" [move]="true" theme="primary" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress [striped]="true" [move]="true" theme="info" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress [striped]="true" [move]="true" theme="success" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress [striped]="true" [move]="true" theme="warning" value="70%"&gt;&lt;/free-progress&gt;
              &lt;free-progress [striped]="true" [move]="true" theme="danger" value="70%"&gt;&lt;/free-progress&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Custom Theme</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-progress value="70%" [barColor]="'#b924ad'" [trackColor]="'#009dd8'"></free-progress>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-progress value="70%" [barColor]="'#b924ad'" [trackColor]="'#009dd8'"&gt;&lt;/free-progress&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Custom Theme</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-progress [value]="percent"></free-progress>
            <button fButton (click)="onClick()">加载</button>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-progress [value]="percent"&gt;&lt;/free-progress&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
  <blockquote>FreeNG - {{'MOTTO' | translate}}</blockquote>
</div>
