@import "../../../assets/sass/variables";

.free-rating {
  display: flex;
  padding: .5rem;
  -webkit-align-items: center;
  align-items: center;

  .free-rating-item {
    padding: 0 .2rem;
    font-size: 1rem;
    cursor: pointer;
  }

  @each $theme, $color in $theme {
      &.free-#{$theme} {
        color: $color;
      }
  }
}
