.free-breadcrumb {
  list-style: none;
  &>li {
    display: inline-block;

     .free-breadcrumb-separator {
      padding: 0 5px;
      color: #43494d;
    }

    &.active,
    &:last-child a {
      color: #808990;
    }

    a {
      white-space: nowrap;
    }
  }

}

