@import "../../../assets/sass/mixin";
@import "../../../assets/sass/variables";

:host /deep/ {

  .top-menu {
    @include position(absolute, $top: 0, $left: 0, $right: 0);
    display: flex;
    height: $topMenuHeight;
    background: #fff;
    z-index: 9500;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    @include transition(.25s);

    free-dropdown f-header {
      height: 2rem !important;
      font-size: 1rem;
      position: relative;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      border-radius: 50%;
      font-size: 1rem;
    }
  }

  .nav-item {
    free-dropdown {
      height: 2rem !important;

      .free-dropdown-header f-header {
        padding: 0 .6rem !important;

      }

      .btn {
        &:before {
          transform: scale(0) !important;
        }
      }
    }
    a {
      padding: 0 !important;
    }
  }

  .left-menu {
    @include position(absolute, $topMenuHeight, '', 0, 0);
    width: $leftMenuWidth;
    overflow: hidden;
    overflow-y: auto;

    .ripple {
      background: rgba(0,0,0,.3);
    }
  }

  .left-menu,
  .aside-header {
    background: $default;
  }

  .aside-header {
    width: $leftMenuWidth;
    display: inline-flex;
    flex: 1 0 auto;
    border-bottom: none;
    @include transition(.25s);
  }

  .aside-header-inner {
    @include flexbox;
    height: $topMenuHeight;
    align-items: center;
    @include transition(.25s);
    width: 100%;
    & > span {
      font-size: 1.2rem;
      color: #fff;

      &.top-logo-mini {
        display: none;
        padding: 0 .75rem;
        font-weight: bold;
      }

      &.top-logo {
        display: block;
      }
    }
  }

  .main-layout-container {
    position: absolute;
    background: #fff;
    left: $leftMenuWidth;
    top: $topMenuHeight;
    bottom: 0;
    right: 0;
    padding: .75rem;
    overflow: hidden;
    overflow-y: auto;
    @include clearfix;
  }

  .left-menu,
  .main-layout-container {
    @include transition(.25s);
  }

  .free-demo-row .free-table .free-table-head {
    background: #f5f5f5;
  }

  .free-demo-row .free-table {
    border: 1px solid #d9d9d9;
  }

  .page-title {
    padding: .75rem .75rem .75rem 0;
  }

  .page-row {
    display: flex;
    justify-content: space-between;
    padding: 0 .75rem;

    .page-tab{
      display: flex;
    }

    & > div {
      padding-left: 0;
      padding-right: 0;
      align-items: center;
      .page-tab {
        display: inline-block;
      }
    }
  }

  .page-current-title {
    font-size: .9rem;
  }

  .page-current-icon {
    font-size: 1rem;
    padding-right: .25rem;
  }

  .navbar-header {
    @include flexbox;
    height: 100%;
    justify-content: space-between;

    &>ul>li>a {
      height: 2rem;
    }

    .free-dropdown,
    .free-dropdown-header,
    .free-dropdown-header f-header {
      display: flex;
      height: 100%;
      margin: 0;
    }

    .navbar-header-logo {
      @include flexbox;
      align-items: center;
      width: $leftMenuWidth;
      height: 100%;
      a.logo {
        display: block;
        font-size: 1.25rem;
        text-decoration: none;
        color: #333;
        i {
          padding: 0 .25rem 0 1rem;
          color: #222733;
        }
      }
    }

    .navbar-header-left,
    .navbar-header-left li {
      @include flexbox;
      justify-content: center;
    }

    .navbar-header-right {
      height: 100%;
      margin: 0;
      @include flexbox;
      align-self: flex-end;
      align-items: center;
      text-align: end;

      li {
        list-style: none;
        @include flexbox;
        align-items: center;
      }

      f-header img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
      }

      li,
      free-dropdown,
      .free-dropdown,
      .free-dropdown .dropdown {
        height: 100%;
      }

      .free-dropdown-header {
        position: relative;
        outline: none;
        background: transparent;
        border: none;
        padding: 0;
        box-shadow: none;
      }
    }

    .nav-user .free-dropdown-header {
      padding: 0 .75rem;
    }

  }

  .navbar-header,
  .aside-header {
    height: 100%;

    li {
      list-style: none;
      height: 100%;
      @include flexbox;
      align-items: center;
      padding: 0 .25rem;

      a {
        padding: 0 .6rem;
        font-size: 1rem;
        position: relative;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        border-radius: 50%;

        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.12);
          border-radius: 2px;
          transform: scale(0);
          transition: all .25s;
        }

        &:hover:before {
          transform: scale(1);
        }
      }
    }

    .aside-header-inner li a {
      height: 2rem;
    }
  }

  .left-menu {
    .accordion-item {
      width: 100%;
      position: relative;
    }

    .accordion-toggle,
    .accordion-item {
      background: transparent;
      border: none;
    }

    .accordion-toggle {
      border: none;
      padding: .5rem 0 .5rem .8rem;
      @include transition(.25s);
      cursor: pointer;
    }

    .accordion-toggle i,
    .left-menu-item li i {
      font-size: .8rem;
    }

    .accordion-toggle .accordion-toggle-title,
    .left-menu-item li .accordion-toggle-title {
      padding-left: 1rem;
    }

    .left-menu-item li a {
      color: #fff;
    }

    .accordion-content {
      color: $link-color;
      background: rgba(0, 0, 0, 0.03);

      .accordion-inner {
        padding: 0 !important;
      }
    }

    .accordion-toggle:hover,
    .left-menu-item li:hover {
      background-color: rgba(0,0,0,.2);
    }

    .accordion-inner ul li {
      list-style: none;

      & > a {
        padding-left: 2.5rem;
        transition: all .25s;
      }

      &:hover > a {
        background-color: rgba(0,0,0,.2);
      }
    }

    .accordion-inner ul li > a,
    .left-menu-item li > a {
      display: block;
      padding: .5rem 0 .5rem 2rem;
      cursor: pointer;
      text-decoration: none;
      color: #fff;
    }

    .left-menu-item li > a {
      padding-left: .75rem;
      white-space: nowrap;
    }

    li a.active {
      background: rgba(0,0,0,.12);
    }

    li a cite,
    li a em {
      font-style: normal;
    }

    li a em {
      padding-left: .25rem;
      font-size: .6rem;
      color: rgba(255, 255, 255, .7);
    }

    .left-scroll {
      width: 100%;
      @include position(absolute, 0, '', 0, 0);
    }

    .scroll-box {
      @include position(absolute, 0, 0, 0, 0);
    }
  }

  .free-table-cell-inner {
    font-size: .7rem;
  }

  [class^=col-] {
    margin-bottom: .75rem;
  }

  .code-clone {
    position: absolute;
    right: 1rem;
    top: .2rem;
    opacity: 0;
    z-index: 100;
    transition: opacity .3s;
  }

  .free-code {
    position: relative;
    code {
      max-height: 22.5rem;
      overflow-y: auto;
    }

    &:hover .code-clone {
      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }
  }

  [ng-reflect-lang]:after {
    position: absolute;
    top: 1.15rem;
    right: 2rem;
    color: rgba(255, 255, 255, .5);
    opacity: .8;
    font-size: .65rem;
  }

  [ng-reflect-lang="html"]:after {
    content: "HTML";
  }

  [ng-reflect-lang="Javascript"]:after {
    content: "Javascript";
  }

  [ng-reflect-lang="CSS"]:after {
    content: "CSS";
  }

  .free-demo-board,
  .free-card-board {
    position: relative;
  }

  .free-demo-board:not(:first-child) {
    margin-top: .75rem;
  }

  .free-card-board {
    margin-bottom: 1rem;
    & > h3.free-toolbar {
      margin: 0;
      position: absolute;
      top: .65rem;
      left: .75rem;
      font-weight: bold;
      font-size: .85rem;
      color: #333;
    }
  }

  .free-demo-row {
    margin-top: 1rem;

    & > p {
      margin-bottom: 1rem;
    }
  }

  .free-ul-padding {
    -webkit-padding-start: 1.5rem;
    -moz-padding-start: 1.5rem;
  }

  .free-demo-board p {
    font-size: .7rem;
    line-height: 1.2rem;
  }

  h2.free-head-title {
    font-weight: 600;
    font-size: 1rem;
  }

  h3.free-title {
    font-weight: 500;
  }

  h3.free-head-title {
    color: $defaultFontColor;
  }

  hr {
    border-color: rgba(0, 0, 0, .12);
    border-bottom: none;
    margin: 1rem 0;
  }

  code:not(.hljs) {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 2px;
  }

  .main-container .accordion-toggle {
    background: $default;
  }

  .toggle-btn free-hamburge {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    span {
      background: #fff;
    }
  }

  .theme-setting {
    position: absolute;
    right: 0;
    top: 3rem;
    font-size: 18px;
    width: 2rem;
    height: 2rem;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    background: #fff;
    border-radius: 0 0 0 50%;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all .3s;

    i {
      pointer-events: none;
    }

    &.open {
      right: 12.5rem;
    }
  }

  free-sidebar {
    .free-sidebar {
      padding: 0 .5rem;
    }

    .row {
      padding: .75rem .5rem;
    }
    h4 {
      display: flex;
      justify-content: center;
      padding: .5rem 0;
      margin: 0;
      border-bottom: 1px solid #d9d9d9;
    }
    .theme-color-list {
      @include flexbox;
      overflow: hidden;
      flex-wrap: wrap;

      .theme-color-item {
        @include flexbox;
        list-style: none;
        margin: 0 .5rem .5rem 0;
        height: 1.8rem;
        width: 1.8rem;
        color: #fff;
        border-radius: 50%;
        flex: 0 1 auto;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .25s;
        text-transform: capitalize;

        * {
          text-align: center;
          line-height: 22px;
        }

        &:hover {
          @include boxShadow;
          transform: scale(.8);
        }
      }
    }
  }

  .search-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    height: $topMenuHeight;
    background: $default;
    z-index: 9501;
    transition: all .3s;
    transform: translate(0, -100%);

    .search-input {
      position: relative;
      display: flex;
      margin: .5rem 0;
      align-items: center;

      free-icon {
        position: absolute;
        left:0;
        top: 0;
        width: 2rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        line-height: 2rem;
      }

      input {
        border: 0;
        height: 2rem;
        padding: 0 .5rem 0 2rem;
        font-size: .9rem;
        width: 25rem;
        border-radius: 2px;
        color: #fff;
        background-color: rgba(255,255,255,0.26);

        &:focus {
          background-color: rgba(255,255,255,0.4)
        }
      }
    }

    &.open {
      opacity: 1;
      filter: alpha(opacity=100);
      transform: translate(0, 0);
    }

    .search-box-close {
      position: absolute;
      right: 1rem;
      top: .5rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      font-size: .9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0,0,0,0.38);

      &:before {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.15);
        color: #000;
        border-radius: 50%;
        transform: scale(0);
        transition: all .25s;
      }

      &:hover:before {
        transform: scale(1);
      }
    }
  }

  .color-white {
    color: #fff;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 900px) {
  :host /deep/ {
    .left-menu {
      left: 0;
    }
    .main-layout-container {
      left: 0;
    }
    .aside-header {
      width: auto;
    }

    .search-box .search-input input {
      width: 85%;
    }

    .search-box .search-box-close {
      right: .3rem;
    }

    .free-card-board > h3.free-toolbar {
      position: relative;
      top:0;
      padding: 10px 0;
    }
  }
  :host-context(.free-mini) {
    .left-menu,
    .main-layout-container {
      left: -#{$leftMenuWidth};
    }
  }

  .navbar-header-right li:not(:first-child):not(:last-child) {
    display: none;
  }

}

.free-theme-list {
  @include flexbox;
  width: 6rem;
  flex-wrap: wrap;

  .free-theme-option {
    list-style: none;
    width: 33.3333%;
    padding: .5rem .25rem;
    @include flexbox;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: #eee;
    }
    span {
      display: block;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
  }
}
