@import "../../../assets/sass/mixin";
.free-popover {
  position: relative;
  display: inline-flex;
  height: 100%;
  height: 2rem;
}

.free-popover-menu {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;

  &>.free-popover-content {
    position: absolute;
    opacity: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: all .25s cubic-bezier(0.23, 1, 0.32, 1);
    min-width: 5rem;
    background: #fff;
    border-radius: 2px 0px 2px 2px;
    transform: translate(0, -1rem);

    &.open {
      opacity: 1;
      transform: translate(0, 0);
    }

    ul li {
      list-style: none;
      padding: 0 .5rem;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
    }
  }
}

.free-popover-header,
.free-popover-header f-header{
  align-items: center;
  display: inline-flex;
  height: 100%;
}
