@import "../../../assets/sass/variables";

.suspend {
  position: relative;
  font-size: 20px;
  width: 2.8em;
  height: 2.8em;
  z-index: 99;

  .suspend-btn {
    z-index: 99;
    width: 100%;
    height: 100%;
  }

  .suspend-btn,
  .suspend-item {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #fff;
    background-color: $default;
    border-color: #e68900;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 100%;
      background: rgba(0, 0, 0, .2);
      transform: scale(0);
    }
  }

  .suspend-item {
    opacity: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: scale(.8);
  }

  .suspend-vertical,
  .suspend-vertical-reverse {
    .suspend-item {
      left: 0;
    }
  }

  .suspend-item,
  .suspend-item:after,
  .suspend-btn:after,
  .suspend-btn span {
    transition: all .3s ease-out;
  }

  .suspend-item:hover:after,
  .suspend-btn:hover:after {
    transform: scale(2);
    opacity: .6;
  }

  .burge {
    position: absolute;
    top: 0;
    left: 0;
  }

  .burge-line span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 3px;
    background: #fff;
    transform: translate(-50%, -50%);
  }

  .burge-line span:nth-child(1) {
    margin-top: -8px;
  }
  .burge-line span:nth-child(3) {
    margin-top: 8px;
  }

  .burge.burge-open span:nth-child(1) {
    margin: 0;
    transform: translate(-50%, 0) rotate(45deg);
  }

  .burge.burge-open span:nth-child(2) {
    transform: translate(-50%, 0) scale(.1);
  }

  .burge.burge-open span:nth-child(3) {
    margin: 0;
    transform: translate(-50%, 0) rotate(-45deg);
  }
}
