:host /deep/ {

  .suspend {
    position: relative;
    font-size: 20px;
    width: 3em;
    height: 3em;
    z-index:99;
  }

  .suspend-btn{
    z-index: 99;
  }

  .suspend-btn,
  .suspend-item {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    color: #fff;
    line-height: 3em;
    background-color: #ff9800;
    border-color: #e68900;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  }

  .suspend-item,
  .suspend-btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  .suspend-item {
    opacity: 0;
    z-index: 1;
  }
  .suspend-item:after,
  .suspend-btn:after{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    border-radius: 100%;
    background: rgba(0,0,0,.2);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  .suspend-item,
  .suspend-item:after,
  .suspend-btn:after,
  .suspend-btn span{
    transition: all .3s ease-out;
  }

  .suspend-item:hover:after,
  .suspend-btn:hover:after{
    transform: scale(2);
    opacity: .6;
  }

  .burge{
    position:absolute;
    top:0;
    left:0;
  }

  .burge-line span{
    position:absolute;
    top:50%;
    left:50%;
    width:50%;
    height:3px;
    background: #fff;
    transform: translate(-50%, -50%);
  }

  .burge-line span:nth-child(1){
    margin-top: -8px;
  }
  .burge-line span:nth-child(3){
    margin-top: 8px;
  }

  .burge.burge-open span:nth-child(1){
    margin:0;
    transform: translate(-50%, 0) rotate(45deg);
  }

  .burge.burge-open span:nth-child(2){
    transform: translate(-50%, 0) scale(.1);
  }

  .burge.burge-open span:nth-child(3){
    margin:0;
    transform: translate(-50%, 0) rotate(-45deg);
  }

}
