
<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        Toast是一种消息提示框，可提供成功、警告和错误等反馈信息。
        通常情况下，Toast会在短时间内显示，然后自动关闭。
      </p>
      <hr>
      <h3 class="free-head-title">API 选项<span class="symbol component"></span></h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-toast</h3>
        <p>消息提示框</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>
          <free-table-body>
            <free-table-row>
              <free-table-cell>messages</free-table-cell>
              <free-table-cell>
                <ng-template><code>Array</code></ng-template>
              </free-table-cell>
              <free-table-cell>消息数组</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>delay</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>消息延迟关闭时间，默认为1500(单位：ms)</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>maxMessage</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>显示最大的消息数，默认为10</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>theme</free-table-cell>
              <free-table-cell>
                <ng-template><code>String</code></ng-template>
              </free-table-cell>
              <free-table-cell>
                设置预设样式，可选。可选值(primary/info/success/warning/danger)
              </free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
      <div class="free-demo-row">
        <h3 class="free-title">事件</h3>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>事件</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>
          <free-table-body>
            <free-table-row>
              <free-table-cell>onClose</free-table-cell>
              <free-table-cell>
                <ng-template><code>Function</code></ng-template>
              </free-table-cell>
              <free-table-cell>当消息关闭时触发的回调事件。</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-demo-board">
        <div class="free-card-board">
          <h3 class="free-toolbar">Import</h3>
          <free-tab-group direction="right" theme="line">
            <free-tab header="CODE">
              <free-code lang="typescript">
                import &#123;ToastModule&#125; from 'freeng/freeng';
              </free-code>
            </free-tab>
          </free-tab-group>
        </div>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <button fButton (click)="open()">普通提示</button>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-toast [messages]="messages"&gt;&lt;/free-toast&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Theme</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <button fButton (click)="openErrorMessage()">Error</button>
            <button fButton (click)="openWarningMessage()">Warning</button>
            <button fButton (click)="openInfoMessage()">Info</button>
            <button fButton (click)="openSuccessMessage()">Success</button>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-toast [messages]="messages"&gt;&lt;/free-toast&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Delay</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <button fButton (click)="openCustomDelay()">自定义时长5000ms</button>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-toast [messages]="messages"&gt;&lt;/free-toast&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
  <blockquote>FreeNG - 用心做好每一步</blockquote>

  <free-toast [messages]="messages"></free-toast>
  <free-toast [messages]="errors" theme="danger"></free-toast>
  <free-toast [messages]="infos" theme="info"></free-toast>
  <free-toast [messages]="successes" theme="success"></free-toast>
  <free-toast [messages]="warnigs" theme="warning"></free-toast>
  <free-toast [messages]="delayMessages" [delay]="5000"></free-toast>
</div>

