$default:#222;

.free-tree {

  .free-treenode-children {
    margin: 0;
    padding: 0 0 0 1em;
  }

  &.free-tree-selectable .free-tree-inner {
    cursor: pointer;
  }

  .free-treenode {
    &.free-treenode-leaf>.free-treenode-content>.free-tree-toggler {
      visibility: hidden;
    }

    .free-treenode-content {
      &.free-treenode-selectable {
        .free-treenode-label:not(.free-selected-highlight):hover {
          background: #eee;
        }
      }
    }
  }

  .free-tree-loading,
  .free-tree-loading-mask {
    background: #666666;
    opacity: .50;
    filter:Alpha(Opacity=50);
  }

  .free-treenode-label {
    padding: 0 5px;
    border-radius: 3px;
  }

  .free-selected-highlight {
    border-color: #166cc1;
    background: #1976d2;
    color: #FFF;
  }

  .free-tree-checkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-right: .25em;

    .free-tree-checkbox-box {
      width: 1.125em;
      height: 1.125em;
      line-height: 1.125em;
      border-radius: 2px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #d6d6d6;
      background: #ffffff;
      color: #555555;

      .free-tree-checkbox-icon {
        margin-left: 1px;
        display: block;
      }
    }
  }

  ul {
    list-style: none;
    color: #333;

    li:before,
    li:after,
    li span:before,
    li span:after {
      font-family: "FontAwesome";
    }
  }
}
