@import "../../../assets/sass/mixin";
:host /deep/ {
  .theme-color-list {
    @include flexbox;
    overflow: hidden;
    flex-wrap: wrap;

    .theme-color-item {
      @include flexbox;
      list-style: none;
      margin: 0 .5rem .5rem 0;
      height: 5rem;
      width: 5rem;
      color: #fff;
      border-radius: 50%;
      flex: 0 1 auto;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all .25s;
      text-transform: capitalize;

      * {
        text-align: center;
        line-height: 22px;
      }

      &:hover {
        @include boxShadow;
        transform: scale(.8);
      }
    }
  }
}
