.free-image-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.free-image-group::after {
  content: "";
  clear: both;
  display: inline-block;
}

.free-image-group /deep/ free-image {
  width: 24.99999%;
}

:host /deep/ {
  .free-image img {
    display: block;
    width: 100%;
    line-height: 0;
  }
}
