<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        数字输入框控件，可直接输入数字，也可以点击“+”、“-”按钮变换当前数值。
      </p>
      <hr>
      <h3 class="free-head-title">API 选项<span class="symbol component"></span></h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-spinner</h3>
        <p>数字输入框</p>
        <free-table>
          <free-table-header>
            <free-table-row>
              <free-table-head>属性</free-table-head>
              <free-table-head>类型</free-table-head>
              <free-table-head>描述</free-table-head>
            </free-table-row>
          </free-table-header>

          <free-table-body>
            <free-table-row>
              <free-table-cell>value</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>设置当前值，默认为0</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>min</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>允许使用的最小值，默认无限制</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>min</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>允许使用的最大值，默认无限制</free-table-cell>
            </free-table-row>
            <free-table-row>
              <free-table-cell>step</free-table-cell>
              <free-table-cell>
                <ng-template><code>Number</code></ng-template>
              </free-table-cell>
              <free-table-cell>每次点击“+”、“-”按钮变化的步长，默认步长为1</free-table-cell>
            </free-table-row>
          </free-table-body>
        </free-table>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-demo-board">
        <div class="free-card-board">
          <h3 class="free-toolbar">Import</h3>
          <free-tab-group direction="right" theme="line">
            <free-tab header="CODE">
              <free-code lang="typescript">
                import &#123;SpinnerModule&#125; from 'freeng/freeng';
              </free-code>
            </free-tab>
          </free-tab-group>
        </div>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-spinner></free-spinner>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-spinner&gt;&lt;/free-spinner&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Step</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">
            <free-spinner [step]="5"></free-spinner>
          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-spinner [step]="5"&gt;&lt;/free-spinner&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
  <blockquote>FreeNG - 用心做好每一步</blockquote>
</div>
