<div class="main-container">
  <div class="row">
    <div fGrid="12" class="free-demo-board">
      <h3 class="free-head-title">更新日志</h3>

      <div class="free-demo-row">
        <h3 class="free-title">v0.1.1</h3>
        <div style="margin-top: 1rem;">
          <free-table border="true">
            <free-table-header>
              <free-table-row>
                <free-table-head>新增</free-table-head>
                <free-table-head>更新</free-table-head>
                <free-table-head>修改</free-table-head>
                <free-table-head>结构更新</free-table-head>
              </free-table-row>
            </free-table-header>
            <free-table-body>
              <free-table-row>
                <free-table-cell>
                  <ng-template>
                    <ul class="free-ul-padding">
                      <li>
                        <a [routerLink]="['/main/slide']">幻灯片(Slide)</a>
                      </li>
                      <li>
                        <a [routerLink]="['/main/chip']">碎片(Chip)</a>
                      </li>
                      <li>
                        <a [routerLink]="['/main/shrink']">浮动按钮(Shrink)</a>
                      </li>
                      <li>
                        <a [routerLink]="['/main/select']">选择框(select)</a>
                      </li>
                      <li>
                        <a [routerLink]="['/main/pagination']">分页器(pagination)</a>
                      </li>
                      <li>
                        <a [routerLink]="['/main/contextmenu']">上下文菜单(contextmenu)</a>
                      </li>
                      <li>
                        粒子效果(particle)
                      </li>
                      <li>
                        <a [routerLink]="['/main/fullpage']">全屏滚动(fullpage)</a>
                      </li>
                    </ul>
                  </ng-template>
                </free-table-cell>
                <free-table-cell>
                  <ng-template>
                    <ul class="free-ul-padding">
                      <li><a [routerLink]="['/main/input']">输入框(inputtext)</a>新增正则验证</li>
                      <li>
                        <p>
                          <a [routerLink]="['/main/dropdown']">下拉菜单(Dropdown)</a>
                        </p>
                        <p>1) 新增自定义内容</p>
                        <p>2) 新增hover事件</p>
                      </li>
                      <li>
                        <p>
                          <a [routerLink]="['/main/modals']">模态框(modal)</a>
                        </p>
                        <p>1) 新增loading模态框</p>
                        <p>2) 新增延时隐藏模态框</p>
                      </li>
                    </ul>
                  </ng-template>
                </free-table-cell>
                <free-table-cell>
                  <ng-template>
                    <ul class="free-ul-padding">
                      <li>使用默认滚动条(可自定义)</li>
                      <li>登录界面新增粒子效果/注册与登录模块之间的切换</li>
                      <li>将主题设置调整到右上角按钮</li>
                    </ul>
                  </ng-template>
                </free-table-cell>
                <free-table-cell>
                  <ng-template>
                    <ul class="free-ul-padding">
                      <li>全面采用异步路由</li>
                    </ul>
                  </ng-template>
                </free-table-cell>
              </free-table-row>
            </free-table-body>
          </free-table>
        </div>
      </div>

      <div class="free-demo-row">
        <h3 class="free-title">v0.1.0</h3>
        <div style="margin-top: 1rem;">
          <free-table border="true">
            <free-table-header>
              <free-table-row>
                <free-table-head>UI 元素</free-table-head>
                <free-table-head>基础组件</free-table-head>
                <free-table-head>拓展组件</free-table-head>
                <free-table-head>页面</free-table-head>
              </free-table-row>
            </free-table-header>
            <free-table-body>
              <free-table-row>
                <free-table-cell>
                  <ng-template>
                    <ul class="free-ul-padding">
                      <li>栅格系统</li>
                      <li>图片</li>
                      <li>辅助元素</li>
                      <li>阴影</li>
                    </ul>
                  </ng-template>
                </free-table-cell>
                <free-table-cell>
                  <ng-template>
                    <ul class="free-ul-padding">
                      <li>按钮</li>
                      <li>列表</li>
                      <li>卡片</li>
                      <li>进度条</li>
                      <li>加载条</li>
                      <li>输入框</li>
                      <li>复选框</li>
                      <li>单选框</li>
                      <li>开关</li>
                      <li>面包屑</li>
                      <li>图标</li>
                      <li>小徽章</li>
                      <li>阴影</li>
                      <li>辅助元素</li>
                    </ul>
                  </ng-template>
                </free-table-cell>
                <free-table-cell>
                  <ng-template>
                    <ul class="free-ul-padding">
                      <li>面板</li>
                      <li>选项卡</li>
                      <li>模态框</li>
                      <li>提示框</li>
                      <li>数字输入框</li>
                      <li>滚动条</li>
                      <li>星星评分</li>
                      <li>下拉菜单</li>
                      <li>表格</li>
                      <li>树形菜单</li>
                    </ul>
                  </ng-template>
                </free-table-cell>
                <free-table-cell>
                  <ng-template>
                    <ul class="free-ul-padding">
                      <li>登录页</li>
                      <li>404页面</li>
                    </ul>
                  </ng-template>
                </free-table-cell>
              </free-table-row>
            </free-table-body>
          </free-table>
        </div>
      </div>
    </div>
  </div>
</div>
