
<div class="main-container">
  <div class="row">
    <div fGrid="6" class="free-demo-board">
      <p>
        Toast是一个微妙的通知，显示在应用程式的内容上。 通常情况下，Toast会在短时间内显示，然后自动关闭。
      </p>
      <hr>
      <h3 class="free-head-title">API 选项</h3>

      <div class="free-demo-row">
        <h3 class="free-title">free-radio</h3>
        <p>一个Radio组件</p>
      </div>
    </div>

    <div class="free-demo-board" fGrid="6">
      <div class="free-card-board">
        <h3 class="free-toolbar">Default</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">

          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-radio label="男" name="sex" [checked]="true"&gt;&lt;/free-radio&gt;
              &lt;free-radio label="女" name="sex"&gt;&lt;/free-radio&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Theme</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">

          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-radio color="green" label="Theme: green" name="theme" [checked]="true"&gt;&lt;/free-radio&gt;
              &lt;free-radio color="blue" label="Theme: blue" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio color="lightblue" label="Theme: lightblue" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio color="yellow" label="Theme: yellow" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio color="red" label="Theme: red" name="theme"&gt;&lt;/free-radio&gt;
              &lt;free-radio color="orange" label="Theme: orange" name="theme"&gt;&lt;/free-radio&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>

      <div class="free-card-board">
        <h3 class="free-toolbar">Disabled</h3>
        <free-tab-group direction="right">
          <free-tab header="PREVIEW">

          </free-tab>
          <free-tab header="CODE">
            <free-code lang="html">
              &lt;free-radio label="disabled" [disabled]="true"&gt;&lt;/free-radio&gt;
              &lt;free-radio label="disabled" [disabled]="true" [checked]="true"&gt;&lt;/free-radio&gt;
            </free-code>
          </free-tab>
        </free-tab-group>
      </div>
    </div>
  </div>
</div>

