<section class="main-container">
  <div class="row">
    <free-panel fGrid="8">
      <f-header>{{'MAIN.TITLE' | translate}}</f-header>
      <div [innerHTML]="'MAIN.INTRODUCTION' | translate"></div>
      <p><b>{{'MAIN.CURRENT-VERSION' | translate}}：</b> v{{version}}</p>
      <div [innerHTML]="'MAIN.DECLARATION' | translate"></div>
      <p style="padding-top: 10px;">
        <iframe src="https://ghbtns.com/github-btn.html?user=IronPans&repo=freeng&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
      </p>
    </free-panel>

    <free-panel fGrid="4" [header]="'MAIN.ABOUT' | translate">
      <p>
        <span><i class="fa fa-user"></i> {{'AUTHOR.NAME' | translate}}：</span>
        <a href="http://ghmagical.com" target="_blank">TG</a>，{{'AUTHOR.DESCRIPTION' | translate}}
      </p>
      <p>
        <span><i class="fa fa-flag"></i> {{'BLOG' | translate}}：</span>
        <a href="http://ghmagical.com" target="_blank">http://ghmagical.com</a>
      </p>
      <p>
        <span><i class="fa fa-qq"></i> QQ({{'MAIN.GROUP' | translate}})：</span> 540629196
      </p>
      <p>
        <a href="https://github.com/IronPans/freeng" fButton target="_blank">
          Github
        </a>
        <a href="http://git.oschina.net/crazyTG/freeng" fButton target="_blank">
          Gitee
        </a>
      </p>
    </free-panel>

    <free-panel fGrid="4">
      <f-header>{{'MAIN.FEATURE.TITLE' | translate}}</f-header>
     <div [innerHTML]="'MAIN.FEATURE.INTRO' | translate"></div>
    </free-panel>

    <free-panel fGrid="4" [header]="'DEPENDENCE' | translate">
      <img src="assets/images/angular.svg" alt="" width="80">
    </free-panel>

    <free-panel fGrid="4">
      <f-header>{{'CHANGE-LOG' | translate}}</f-header>
      <free-accordion-group [closeOthers]="true">
        <free-accordion class="let-menu-item" header="v0.2.1">
          <h5 class="subtitle">Bug Fixes</h5>
          <ul class="free-ul-padding" [innerHTML]="'UPDATE.v021.BUG' | translate"></ul>
        </free-accordion>
        <free-accordion class="let-menu-item" header="v0.2.0">
          <h5 class="subtitle">Components</h5>
          <ul class="free-ul-padding">
            <li>{{'COMPONENT.MEDIA' | translate}}</li>
            <li>{{'COMPONENT.CROPPER' | translate}}</li>
            <li>{{'COMPONENT.FLOW' | translate}}</li>
          </ul>
          <h5 class="subtitle">Features</h5>
          <ul class="free-ul-padding" [innerHTML]="'UPDATE.v020.FEATURE' | translate"></ul>
          <h5 class="subtitle">Bug Fixes</h5>
          <ul class="free-ul-padding" [innerHTML]="'UPDATE.v020.BUG' | translate"></ul>
        </free-accordion>
        <free-accordion class="let-menu-item" header="v0.1.4">
          {{'UPDATE.v014.DESCRIPTION' | translate}}
        </free-accordion>
        <free-accordion class="let-menu-item" header="v0.1.3">
          <h4>Bug Fixes</h4>
          <ul class="free-ul-padding">
            <li>{{'UPDATE.v013.BUG' | translate}}</li>
          </ul>
        </free-accordion>
        <free-accordion class="let-menu-item" header="v0.1.2">
          <h4>Features</h4>
          <ul class="free-ul-padding">
            <li><a [routerLink]="['/main/colorpicker']">{{'COMPONENT.COLORPICKER' | translate}}</a></li>
            <li><a [routerLink]="['/main/cascader']">{{'COMPONENT.CASCADER' | translate}}</a></li>
            <li><a [routerLink]="['/main/calendar']">{{'COMPONENT.CALENDAR' | translate}}</a></li>
            <li><a [routerLink]="['/main/datatable']">{{'COMPONENT.DATATABLE' | translate}}</a></li>
            <li><a [routerLink]="['/main/notification']">{{'COMPONENT.NOTIFICATION' | translate}}</a></li>
            <li><a [routerLink]="['/main/toast']">{{'COMPONENT.TOAST' | translate}}</a></li>
            <li><a [routerLink]="['/main/editor']">{{'COMPONENT.EDITOR' | translate}}</a></li>
            <li><a [routerLink]="['/main/timeline']">{{'COMPONENT.TIMELINE' | translate}}</a></li>
            <li><a [routerLink]="['/main/columns']">{{'COMPONENT.COLUMN' | translate}}</a></li>
            <li><a [routerLink]="['/main/sidenav']">{{'COMPONENT.SIDENAV' | translate}}</a></li>
            <li><a [routerLink]="['/main/draggable']">{{'COMPONENT.DRAGGABLE' | translate}}</a></li>
            <li><a [routerLink]="['/main/charts']">{{'COMPONENT.CHART' | translate}}</a></li>
          </ul>
        </free-accordion>
        <free-accordion class="let-menu-item" header="v0.1.1">
          <h4>Features</h4>
          <ul class="free-ul-padding">
            <li><a [routerLink]="['/main/slide']">{{'COMPONENT.SLIDE' | translate}}</a></li>
            <li><a [routerLink]="['/main/chip']">{{'COMPONENT.CHIP' | translate}}</a></li>
            <li><a [routerLink]="['/main/shrink']">{{'COMPONENT.SHRINK' | translate}}</a></li>
            <li><a [routerLink]="['/main/select']">{{'COMPONENT.SELECT' | translate}}</a></li>
            <li><a [routerLink]="['/main/pagination']">{{'COMPONENT.PAGINATION' | translate}}</a></li>
            <li><a [routerLink]="['/main/contextmenu']">{{'COMPONENT.CONTEXTMENU' | translate}}</a></li>
            <li>{{'COMPONENT.PARTICLE' | translate}}</li>
          </ul>
          <h4>Break Changes</h4>
          <ul class="free-ul-padding">
            <li>
              <a [routerLink]="['/main/input']">{{'COMPONENT.INPUTTEXT' | translate}}</a>
              {{'UPDATE.v011.CHANGE.INPUTTEXT' | translate}}
            </li>
            <li>
              <p><a [routerLink]="['/main/dropdown']">{{'COMPONENT.DROPDOWN' | translate}}</a></p>
              <div [innerHTML]="'UPDATE.v011.CHANGE.DROPDOWN' | translate"></div>
            </li>
            <li>
              <p><a [routerLink]="['/main/modals']">{{'COMPONENT.MODAL' | translate}}</a></p>
              <div [innerHTML]="'UPDATE.v011.CHANGE.MODAL' | translate"></div>
            </li>
          </ul>
        </free-accordion>
        <free-accordion class="let-menu-item" header="v0.1.0">
          <ul class="free-ul-padding">
            <li>{{'UI-ELEMENT' | translate}}</li>
            <li>{{'BASIC-COMPONENT' | translate}}</li>
            <li>{{'EXTENDED-COMPONENT' | translate}}</li>
          </ul>
        </free-accordion>
      </free-accordion-group>
    </free-panel>
  </div>
  <blockquote>FreeNG - {{'MOTTO' | translate}}</blockquote>
</section>
