@import "../../../assets/sass/variables";
free-slides {
  display: flex;
  width: 100%;
  height: 100%;
}
.free-slides {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #eee;

  &:hover .free-slides-disabled {
    opacity: .35 !important;
  }

  .free-slides-wrapper {
    padding: 0;
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition-timing-function: ease-in;
    box-sizing: content-box;
  }

  &.free-container-vertical > .free-slides-wrapper {
    flex-direction: column;
  }

  .free-slides-wrapper,
  .free-slide,
  free-slide {
    transform: translate3d(0, 0, 0);
  }

  free-slide {
    text-align: center;
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
  }

  .free-slide {
    img {
      display: flex;
      user-select: none;
      -webkit-user-drag: none;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .free-slides-pagination {
    position: absolute;
    text-align: center;
    z-index: 10;

    &.free-slides-black {
      background: #000;
    }

    .free-pagination-bullet {
      width: .4rem;
      height: .4rem;
      border-radius: 100%;
      display: inline-block;
      background: #fff;
      cursor: pointer;
      opacity: .3;
      transition: all .5s;

      &:hover {
        opacity: .5;
      }
      &.free-pagination-bullet-active {
        opacity: 1;
        background: #007aff;
      }
    }

  }

  &.free-container-horizontal > .free-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;

    .free-pagination-bullet {
      margin: 0 5px;
    }
  }

  &.free-container-vertical > .free-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    .free-pagination-bullet {
      display: block;
      margin: 5px 0;

      &.free-pagination-bullet-active {
        opacity: 1;
      }
    }
  }

  .free-pagination-clickable .free-pagination-bullet {
    cursor: pointer
  }

  .free-slides-next, .free-slides-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0);
    z-index: 10;
    cursor: pointer;
    transition: all .3s;

    &.free-slides-disabled {
      cursor: auto;
      pointer-events: none;
    }

    &:not(.free-slides-disabled):hover {
      opacity: 1;
      background: rgba(0, 0, 0, .3);
    }
  }

  .free-slides-prev {
    left: 0;
    right: auto;
  }

  .free-slides-next {
    right: 0;
    left: auto;
  }
}
