$theme-blue: #3949ab;
$theme-green: #138265;
$default: #115d8e;
$defaultFontColor: #115d8e;

$leftMenuWidth: 12.5rem;
$leftMenuWidthOfMini: 2.5rem;
$topMenuHeight: 3rem;

$theme: (
  green: #46be8a,
  deepblue: #115d8e,
  blue: #677ae4,
  lightblue: #169e9f,
  yellow: #fa9e0c,
  red: #f96868,
  purple: #6633B9,
  orange: #f2a654,
  brown: #8d6658,
  cyan: #57c7d4,
  pink: #f96197,
  teal: #3aa99e,
  dark: #393D49);
